n8n-workflows/s2-ai-agent-mcp.json
{
  "name": "S2 - AI Agent + MCP Cluster Intelligence",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 0,
      "waitBetweenTries": 0
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query || 'What is the current health of the Kubernetes cluster? Check all namespaces for any issues.' }}",
        "options": {
          "systemMessage": "You are an expert SRE assistant with direct access to a Kubernetes cluster.\n\nYou have tools:\n1. kubectl_read - run any read-only kubectl command (get, describe, logs, events, top)\n2. promql - run any PromQL query against Prometheus\n\nWhen investigating:\n- Start with: kubectl get pods -A\n- For unhealthy pods: kubectl describe pod <name> -n <namespace>\n- Check events: kubectl get events -A --sort-by=.lastTimestamp\n- Use PromQL for live metrics when relevant\n\nReturn a structured response:\nSUMMARY: one-line status\nSEVERITY: critical / warning / healthy\nROOT_CAUSE: your assessment\nCONFIDENCE: high / medium / low\nRECOMMENDED_ACTION: what should be done\nREQUIRES_APPROVAL: yes/no"
        }
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        304
      ],
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 0,
      "waitBetweenTries": 0
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        368,
        512
      ],
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 0,
      "waitBetweenTries": 0,
      "credentials": {
        "googlePalmApi": {
          "id": "57EnyFD1KF7gSoQU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Run any read-only kubectl command against the cluster. Examples: get pods -A, describe pod <name> -n <ns>, logs <pod> -n <ns> --tail=50, get events -A --sort-by=.lastTimestamp",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/kubectl-read",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "command"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "kubectl_read",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        480,
        512
      ],
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 0,
      "waitBetweenTries": 0
    },
    {
      "parameters": {
        "toolDescription": "Run any PromQL query against Prometheus to get live metrics. Examples: up, rate(container_cpu_usage_seconds_total[5m]), kube_pod_status_ready{condition=\"true\"}",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/promql",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "promql",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        624,
        512
      ],
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 0,
      "waitBetweenTries": 0
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out1",
              "name": "summary",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "out2",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "out3",
              "name": "workflow",
              "value": "S2 - AI Agent + MCP",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        304
      ],
      "notesInFlow": false,
      "executeOnce": false,
      "alwaysOutputData": false,
      "retryOnFail": false,
      "maxTries": 0,
      "waitBetweenTries": 0
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "kubectl_read": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "promql": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null
}