n8n-workflows/s3-alert-webhook-telegram.json
{
  "updatedAt": "2026-04-09T11:06:01.859Z",
  "createdAt": "2026-04-09T09:56:17.027Z",
  "name": "S3 - Alert Webhook + AI Triage + Telegram",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prometheus-alert",
        "options": {}
      },
      "id": "912737b8-0301-4ff0-8607-cf92c3e5ee4b",
      "name": "Alertmanager Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        48,
        -144
      ],
      "webhookId": "prometheus-alert"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\ud83d\udea8 ALERT \u2014 investigate and triage.\n\nInvestigation Brief:\n- Resource Type: {{ $json.output.resource_type }}\n- Resource Name: {{ $json.output.resource_name }}\n- Namespace:     {{ $json.output.namespace }}\n- Symptom:       {{ $json.output.symptom }}\n- Severity:      {{ $json.output.severity }}\n- Status:        {{ $json.output.status }}\n- Summary:       {{ $json.output.summary }}\n\nSuggested kubectl commands: {{ JSON.stringify($json.output.kubectl_commands) }}\nSuggested PromQL queries:   {{ JSON.stringify($json.output.promql_queries) }}\n\nInvestigate now. Start with the suggested commands but adapt based on what you find. Run at least one kubectl command and one PromQL query.\n\nReturn your findings in this exact format:\nSUMMARY: one-line status\nSEVERITY: critical / warning / healthy\nROOT_CAUSE: your assessment in 1-2 sentences\nCONFIDENCE: high / medium / low\nRECOMMENDED_ACTION: specific actionable steps\nREQUIRES_APPROVAL: yes/no",
        "options": {
          "systemMessage": "You are an expert SRE on-call assistant investigating a live Kubernetes alert. You have two tools:\n\n1. kubectl_read \u2014 run any read-only kubectl command.\n   Parameter: \"command\" \u2014 e.g. \"get pods -n prod\", \"describe deployment payments -n prod\", \"get events -n prod --sort-by=.lastTimestamp\", \"get nodes\"\n\n2. promql \u2014 run any PromQL query against Prometheus.\n   Parameter: \"query\" \u2014 e.g. \"kube_deployment_status_available_replicas\", \"rate(node_cpu_seconds_total[5m])\"\n\nAdapt your investigation to the resource type in the brief. The alert may be about any K8s resource \u2014 pods, deployments, nodes, services, endpoints, HPAs, PVCs, etc. Use commands appropriate for what is actually affected.\n\nAlways run at least 2 tool calls before concluding.\n\nCRITICAL PromQL rule: label selectors MUST use single quotes, e.g. kube_pod_status_ready{condition='true'} \u2014 never double quotes inside PromQL. Double quotes inside JSON break the request."
        }
      },
      "id": "14e233c1-75df-4c65-8093-ee957f5828a4",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        928,
        -144
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e9a6ec47-f79b-4d0e-9aed-3b9e5ae559eb",
      "name": "Gemini Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        816,
        64
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "4Jw86EqmWdx0n1FD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Run any read-only kubectl command against the cluster. Adapt the command to whatever resource type is being investigated \u2014 pods, deployments, nodes, services, endpoints, HPAs, PVCs, etc.",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/kubectl-read",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"command\": \"{command}\"}"
      },
      "id": "368f1439-4545-4968-bfdc-03e95ccf5aa9",
      "name": "kubectl_read",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        928,
        64
      ]
    },
    {
      "parameters": {
        "toolDescription": "Run any PromQL query against Prometheus for live metrics. Use queries relevant to the resource type and symptom being investigated.",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/promql",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": \"{query}\"}"
      },
      "id": "90ffea93-7f6b-4ffd-9b4d-d5f48a8176d5",
      "name": "promql",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1072,
        64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f001",
              "name": "telegramMessage",
              "value": "={{ (() => {\n  const b = $('Extract Brief').first().json.output;\n  const sev = b.severity || 'warning';\n  const status = b.status || 'firing';\n  const sevEmoji = status === 'resolved' ? '\u2705' : (sev === 'critical' ? '\ud83d\udd34' : '\ud83d\udfe1');\n  const statusLabel = status === 'resolved' ? '\u2705 RESOLVED' : '\ud83d\udea8 FIRING';\n  return [\n    sevEmoji + ' <b>' + statusLabel + '</b>',\n    '',\n    '\ud83d\udd27 <b>Resource:</b> ' + b.resource_type + ' / ' + b.resource_name,\n    '\ud83d\udccd <b>Namespace:</b> ' + b.namespace,\n    '\u26a1 <b>Severity:</b> ' + sev.toUpperCase(),\n    '',\n    '\ud83d\udccb <b>Summary:</b> ' + b.summary,\n    '',\n    '\ud83e\udd16 <b>AI Triage:</b>',\n    $json.output,\n    '',\n    '\ud83d\udd50 ' + new Date().toUTCString()\n  ].join('\\n');\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "44103e0a-809a-48a2-842b-16c9010b2970",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -144
      ]
    },
    {
      "parameters": {
        "chatId": "=5926921251",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "bd7268cc-2ced-4b63-a0f6-b7021e1a3169",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        -144
      ],
      "webhookId": "b0928f34-e468-4764-9808-21f7fbccfab7",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e001",
              "name": "telegramMessage",
              "value": "=\u274c <b>WORKFLOW ERROR \u2014 S3 Alert Triage</b>\n\nError: {{ $json.error?.message || \"Unknown failure\" }}\nTime: {{ new Date().toUTCString() }}\n\n<i>Manual investigation required.</i>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "77300461-bbb6-4468-b38c-996859150288",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        48
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "e727185f-6ae8-4fb7-bb8c-9a2b36409d99",
      "name": "Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        48
      ],
      "webhookId": "41305d88-ffab-4440-b952-cacd2eb5dc1f",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"system_instruction\": { \"parts\": [{ \"text\": \"You are a Kubernetes SRE alert parser. You receive raw webhook payloads from Prometheus Alertmanager monitoring a Kubernetes cluster. Read the payload semantically \u2014 the alert may concern any K8s resource: Pod, Deployment, Service, Node, Endpoint, HPA, PVC, StatefulSet, DaemonSet, Job, Ingress, or anything else. Do not assume it is always about a pod. Extract meaning, not field names. PromQL label selectors MUST use single quotes, e.g. {namespace='prod'}.\" }] }, \"contents\": [{ \"parts\": [{ \"text\": \"Parse this Alertmanager webhook payload and return the investigation brief JSON:\\n\\n\" + JSON.stringify($json, null, 2) }] }], \"generationConfig\": { \"response_mime_type\": \"application/json\", \"response_schema\": { \"type\": \"OBJECT\", \"properties\": { \"resource_type\": { \"type\": \"STRING\" }, \"resource_name\": { \"type\": \"STRING\" }, \"namespace\": { \"type\": \"STRING\" }, \"symptom\": { \"type\": \"STRING\" }, \"severity\": { \"type\": \"STRING\" }, \"status\": { \"type\": \"STRING\" }, \"summary\": { \"type\": \"STRING\" }, \"kubectl_commands\": { \"type\": \"ARRAY\", \"items\": { \"type\": \"STRING\" } }, \"promql_queries\": { \"type\": \"ARRAY\", \"items\": { \"type\": \"STRING\" } } }, \"required\": [\"resource_type\",\"resource_name\",\"namespace\",\"symptom\",\"severity\",\"status\",\"summary\",\"kubectl_commands\",\"promql_queries\"] } } }) }}",
        "options": {}
      },
      "id": "50d8f263-2b43-4569-a66a-497c5bbdb87f",
      "name": "Gemini JSON Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -144
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "4Jw86EqmWdx0n1FD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the JSON brief from Gemini's response\n// With response_mime_type=application/json, Gemini returns valid JSON in parts[0].text\ntry {\n  const raw = $input.first().json.candidates[0].content.parts[0].text;\n  const brief = JSON.parse(raw);\n  return [{ json: { output: brief } }];\n} catch(e) {\n  // Fallback \u2014 never crash the pipeline\n  return [{ json: { output: {\n    resource_type: 'unknown',\n    resource_name: 'unknown',\n    namespace: 'unknown',\n    symptom: 'Parser failed: ' + e.message,\n    severity: 'warning',\n    status: 'firing',\n    summary: 'Alert received \u2014 Gemini parser error, manual investigation required',\n    kubectl_commands: ['get pods -A', 'get events -A --sort-by=.lastTimestamp'],\n    promql_queries: ['up']\n  }}}];\n}"
      },
      "id": "576e1cbd-51ec-42ad-b090-745bf593be50",
      "name": "Extract Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -144
      ]
    }
  ],
  "connections": {
    "Alertmanager Webhook": {
      "main": [
        [
          {
            "node": "Gemini JSON Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Agent": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "kubectl_read": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "promql": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini JSON Parser": {
      "main": [
        [
          {
            "node": "Extract Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Brief": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": {
    "global": {
      "dedup": {
        "unknown:unknown:firing": 1775731858405
      }
    }
  },
  "pinData": {},
  "activeVersionId": "d92c7fa3-5e65-4df1-b6f0-a99dd43df059",
  "versionCounter": 24,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-09T09:56:17.031Z",
      "createdAt": "2026-04-09T09:56:17.031Z",
      "role": "workflow:owner",
      "workflowId": "j5QhV5JZP10rPmD3",
      "projectId": "Z5ZsysJ0rW35XOYF",
      "project": {
        "updatedAt": "2026-04-09T09:55:44.875Z",
        "createdAt": "2026-04-09T09:55:12.447Z",
        "id": "Z5ZsysJ0rW35XOYF",
        "name": "YANIV COHEN <yanivomc@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "affeaca1-1d97-4aa4-aadf-ee88aaf990f0"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version d92c7fa3",
    "description": ""
  }
}