n8n-workflows/s3-alert-webhook-telegram.json
{
  "name": "S3 - Alert Webhook + AI Triage + Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prometheus-alert",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0101-0101-0101-000000000101",
      "name": "Alertmanager Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "prometheus-alert"
    },
    {
      "parameters": {
        "jsCode": "// Deduplication \u2014 block repeated Alertmanager firings for the same alert\n// Alertmanager re-fires every repeat_interval even without changes.\n// We track alertname+namespace+status and drop duplicates within 10 minutes.\n\nconst DEDUP_WINDOW_MS = 10 * 60 * 1000; // 10 minutes\n\nconst body = $input.first().json;\nconst alerts = body.alerts || [];\nconst key = [\n  body.commonLabels?.alertname || alerts[0]?.labels?.alertname || 'unknown',\n  body.commonLabels?.namespace || alerts[0]?.labels?.namespace || 'unknown',\n  body.status || 'firing'\n].join(':');\n\nconst now = Date.now();\nconst store = $getWorkflowStaticData('global');\n\nif (!store.dedup) store.dedup = {};\n\n// Clean up old entries\nfor (const k of Object.keys(store.dedup)) {\n  if (now - store.dedup[k] > DEDUP_WINDOW_MS) delete store.dedup[k];\n}\n\nif (store.dedup[key]) {\n  const ageSeconds = Math.round((now - store.dedup[key]) / 1000);\n  console.log(`DEDUP: dropping repeated alert '${key}' (${ageSeconds}s ago)`);\n  return []; // drop \u2014 returns empty, workflow stops here\n}\n\nstore.dedup[key] = now;\nconsole.log(`DEDUP: new alert accepted '${key}'`);\nreturn [$input.first()];"
      },
      "id": "a1b2c3d4-0100-0100-0100-000000000100",
      "name": "Dedup Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        330,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Parse this raw Prometheus Alertmanager webhook payload and produce an investigation brief.\n\nRAW PAYLOAD:\n{{ JSON.stringify($json, null, 2) }}",
        "options": {
          "systemMessage": "You are a Kubernetes SRE alert parser. You receive raw webhook payloads from Prometheus Alertmanager monitoring a Kubernetes cluster.\n\nCRITICAL: You MUST respond with ONLY a raw JSON object. No markdown, no code fences, no explanation, no preamble, no backticks. The very first character of your response must be '{' and the last must be '}'.\n\nRead the raw payload semantically \u2014 do NOT look for specific field names. The alert may be about any Kubernetes resource: pod, deployment, service, endpoint, node, HPA, PVC, ingress, statefulset, daemonset, job, etc.\n\nReturn this exact JSON structure:\n{\n  \"resource_type\": \"K8s resource kind, e.g. Pod, Deployment, Node\",\n  \"resource_name\": \"specific resource name or unknown\",\n  \"namespace\": \"namespace or cluster-wide\",\n  \"symptom\": \"what is wrong in plain English\",\n  \"severity\": \"critical or warning or info\",\n  \"status\": \"firing or resolved\",\n  \"summary\": \"one-line human readable summary\",\n  \"kubectl_commands\": [\"2-3 targeted kubectl commands for this resource type\"],\n  \"promql_queries\": [\"1-2 PromQL queries for this symptom\"]\n}\n\nRules:\n- ONLY return the JSON object. Nothing else. Not a single extra character.\n- kubectl_commands must target the specific resource and namespace from the alert.\n- PromQL label selectors MUST use single quotes, e.g. {namespace='prod'} not {namespace=\"prod\"}.\n- If any field is unknown, use the string \"unknown\"."
        }
      },
      "id": "a1b2c3d4-0102-0102-0102-000000000102",
      "name": "LLM Alert Parser",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "a1b2c3d4-0103-0103-0103-000000000103",
      "name": "Gemini Parser",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        540,
        500
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "57EnyFD1KF7gSoQU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "p001",
              "name": "brief",
              "value": "={{ (() => { try { let raw = $json.text || ''; raw = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim(); return JSON.parse(raw); } catch(e) { return { resource_type: 'unknown', resource_name: 'unknown', namespace: 'unknown', symptom: $json.text, severity: 'warning', status: 'firing', summary: 'Alert received \u2014 parser returned non-JSON, check LLM Parser node', kubectl_commands: ['get pods -A', 'get events -A --sort-by=.lastTimestamp'], promql_queries: ['up'] } } })() }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0104-0104-0104-000000000104",
      "name": "Parse LLM Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\ud83d\udea8 ALERT \u2014 investigate and triage.\n\nInvestigation Brief (produced by alert parser):\n- Resource Type: {{ $json.brief.resource_type }}\n- Resource Name: {{ $json.brief.resource_name }}\n- Namespace: {{ $json.brief.namespace }}\n- Symptom: {{ $json.brief.symptom }}\n- Severity: {{ $json.brief.severity }}\n- Status: {{ $json.brief.status }}\n- Summary: {{ $json.brief.summary }}\n\nSuggested kubectl commands: {{ JSON.stringify($json.brief.kubectl_commands) }}\nSuggested PromQL queries: {{ JSON.stringify($json.brief.promql_queries) }}\n\nInvestigate now. Start with the suggested commands but adapt based on what you find. Run at least one kubectl command and one PromQL query.\n\nReturn your findings in this exact format:\nSUMMARY: one-line status\nSEVERITY: critical / warning / healthy\nROOT_CAUSE: your assessment in 1-2 sentences\nCONFIDENCE: high / medium / low\nRECOMMENDED_ACTION: specific actionable steps\nREQUIRES_APPROVAL: yes/no",
        "options": {
          "systemMessage": "You are an expert SRE on-call assistant investigating a live Kubernetes alert. You have two tools:\n\n1. kubectl_read \u2014 run any read-only kubectl command.\n   Parameter: \"command\" \u2014 e.g. \"get pods -n prod\", \"describe deployment payments -n prod\", \"get events -n prod --sort-by=.lastTimestamp\", \"get nodes\"\n\n2. promql \u2014 run any PromQL query against Prometheus.\n   Parameter: \"query\" \u2014 e.g. \"kube_deployment_status_available_replicas\", \"rate(node_cpu_seconds_total[5m])\"\n\nAdapt your investigation to the resource type in the brief. The alert may be about any K8s resource \u2014 pods, deployments, nodes, services, endpoints, HPAs, PVCs, etc. Use commands appropriate for what is actually affected.\n\nAlways run at least 2 tool calls before concluding.\n\nCRITICAL PromQL rule: label selectors MUST use single quotes, e.g. kube_pod_status_ready{condition='true'} \u2014 never double quotes inside PromQL. Double quotes inside JSON break the request."
        }
      },
      "id": "a1b2c3d4-0105-0105-0105-000000000105",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1100,
        300
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "id": "a1b2c3d4-0106-0106-0106-000000000106",
      "name": "Gemini Agent",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        980,
        500
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "57EnyFD1KF7gSoQU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Run any read-only kubectl command against the cluster. Adapt the command to whatever resource type is being investigated \u2014 pods, deployments, nodes, services, endpoints, HPAs, PVCs, etc.",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/kubectl-read",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"command\": \"{command}\"}",
        "parametersBody": {
          "values": [
            {
              "name": "command",
              "type": "string",
              "description": "kubectl subcommand and flags appropriate for the resource being investigated"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0107-0107-0107-000000000107",
      "name": "kubectl_read",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1100,
        500
      ]
    },
    {
      "parameters": {
        "toolDescription": "Run any PromQL query against Prometheus for live metrics. Use queries relevant to the resource type and symptom being investigated.",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/promql",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": \"{query}\"}",
        "parametersBody": {
          "values": [
            {
              "name": "query",
              "type": "string",
              "description": "A valid PromQL expression relevant to the symptom and resource type"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0108-0108-0108-000000000108",
      "name": "promql",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1240,
        500
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f001",
              "name": "telegramMessage",
              "value": "={{ (() => {\n  const b = $('Parse LLM Output').first().json.brief;\n  const sev = b.severity || 'warning';\n  const status = b.status || 'firing';\n  const sevEmoji = status === 'resolved' ? '\u2705' : (sev === 'critical' ? '\ud83d\udd34' : '\ud83d\udfe1');\n  const statusLabel = status === 'resolved' ? '\u2705 RESOLVED' : '\ud83d\udea8 FIRING';\n  return [\n    sevEmoji + ' *' + statusLabel + '*',\n    '',\n    '\ud83d\udd27 *Resource:* ' + b.resource_type + ' / ' + b.resource_name,\n    '\ud83d\udccd *Namespace:* ' + b.namespace,\n    '\u26a1 *Severity:* ' + sev.toUpperCase(),\n    '',\n    '\ud83d\udccb *Summary:* ' + b.summary,\n    '',\n    '\ud83e\udd16 *AI Triage:*',\n    $json.output,\n    '',\n    '\ud83d\udd50 ' + new Date().toUTCString()\n  ].join('\\n');\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0109-0109-0109-000000000109",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "id": "a1b2c3d4-0110-0110-0110-000000000110",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e001",
              "name": "telegramMessage",
              "value": "=\u274c *WORKFLOW ERROR \u2014 S3 Alert Triage*\n\nError: {{ $json.error?.message || 'Unknown failure' }}\nTime: {{ new Date().toUTCString() }}\n\n_Manual investigation required._",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0111-0111-0111-000000000111",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        480
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0112-0112-0112-000000000112",
      "name": "Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1520,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Alertmanager Webhook": {
      "main": [
        [
          {
            "node": "Dedup Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Alert Parser": {
      "main": [
        [
          {
            "node": "Parse LLM Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Parser": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Alert Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM Output": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Agent": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "kubectl_read": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "promql": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Filter": {
      "main": [
        [
          {
            "node": "LLM Alert Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null
}