n8n-workflows/s4-telegram-human-loop.json
{
  "updatedAt": "2026-04-09T12:30:44.087Z",
  "createdAt": "2026-04-09T11:16:42.570Z",
  "name": "S4 - Telegram Human Loop",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b20bd0a0-cd8f-4ffa-808c-7256654cc011",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1888,
        608
      ],
      "webhookId": "telegram-bot",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst text = (msg?.text || '').trim();\nconst chatId = msg?.chat?.id?.toString();\nconst from = msg?.from?.first_name || 'Engineer';\nconst route = (text.startsWith('/approve ') || text.startsWith('/deny ')) ? 'approval' : 'query';\nreturn [{ json: { route, text, chatId, from } }];"
      },
      "id": "3db501ee-684a-46fe-8bf4-740c550c2178",
      "name": "Route Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1664,
        608
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.from }} asks: {{ $json.text }}\n\nAnswer using kubectl_read and/or promql. Be concise \u2014 this is a Telegram chat reply.\nFormat your response clearly with emojis. Keep it under 300 words.",
        "options": {
          "systemMessage": "You are a Kubernetes SRE assistant answering questions via Telegram.\n\nYou have two tools:\n1. kubectl_read \u2014 any read-only kubectl command. Parameter: \"command\"\n2. promql \u2014 any PromQL query. Parameter: \"query\" (single quotes for label selectors)\n\nRules:\n- Be concise \u2014 this is a chat interface, not a report\n- Use emojis to make status clear (\u2705 \u274c \u26a0\ufe0f \ud83d\udcca)\n- Always run at least one tool before answering\n- If asked about a specific namespace/pod, focus your commands there\n\nIf you diagnose an issue that requires a write action (restart, scale, rollback, delete, apply, cordon, drain), end your response with exactly:\nWRITE_NEEDED: <kubectl command>\nExample: WRITE_NEEDED: rollout restart deployment/payments-app -n prod\n\nDo NOT say you cannot execute commands. Your job is to diagnose and recommend \u2014 a human approves all write actions."
        }
      },
      "id": "3f942e69-888a-4377-ab32-a5d2c5c23a72",
      "name": "K8s Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1088,
        352
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "afcc77ea-3424-492f-a2df-a6f81b30d3fa",
      "name": "Gemini Assistant",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1216,
        576
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "4Jw86EqmWdx0n1FD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Run any read-only kubectl command. Examples: get pods -n prod, describe pod <n> -n <ns>, get nodes, get events -A --sort-by=.lastTimestamp",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/kubectl-read",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"command\": \"{command}\"}"
      },
      "id": "d41d332d-9b51-4d3e-9217-5a4856824768",
      "name": "kubectl_read",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -960,
        576
      ]
    },
    {
      "parameters": {
        "toolDescription": "Run any PromQL query against Prometheus. Use single quotes for label selectors.",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/promql",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": \"{query}\"}"
      },
      "id": "92239ca8-7b51-4815-9c43-441326649043",
      "name": "promql",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -832,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "const output=$input.first().json.output||'';\nconst chatId=$('Route Message').first().json.chatId;\nconst writeMatch=output.match(/WRITE_NEEDED:\\s*(.+)/);\nif(writeMatch){\n  const cmd=writeMatch[1].trim();\n  const token=$vars.WRITE_APPROVAL_TOKEN||'APPROVAL_TOKEN_NOT_SET';\n  return[{json:{needsApproval:true,command:cmd,token,chatId,message:output.replace(/WRITE_NEEDED:.+/,'').trim(),approvalPrompt:'\u26a0\ufe0f <b>Write action recommended:</b>\\n<code>kubectl '+cmd+'</code>\\n\\nApprove?\\n\u2705 /approve '+token+' '+cmd+'\\n\u274c /deny'}}];\n}\nreturn[{json:{needsApproval:false,chatId,message:output}}];"
      },
      "id": "dc329231-cc3c-4926-93d1-e6b4866df7b8",
      "name": "Check Write Needed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        464
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.approvalPrompt }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "d5ca71a3-a960-411c-975b-85fccd13fea7",
      "name": "Send Approval Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        368
      ],
      "webhookId": "fd5872aa-7fb2-4ca8-a05a-1090b58f21aa",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "7dd7d029-bcf4-4e94-8bca-533e11ad0c01",
      "name": "Send Answer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        560
      ],
      "webhookId": "109c2e40-5bfc-483f-8481-4fa886c211f2",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Handle /approve or /deny from engineer\nconst text = $input.first().json.text;\nconst chatId = $input.first().json.chatId;\nconst from = $input.first().json.from;\nconst expectedToken = process.env.WRITE_APPROVAL_TOKEN || '';\n\nif (text.startsWith('/deny')) {\n  return [null, { json: { chatId, message: '\u274c Action denied by ' + from + '. No changes made.' } }];\n}\n\n// /approve <token> <command>\nconst parts = text.split(' ');\nconst token = parts[1] || '';\nconst command = parts.slice(2).join(' ');\n\nif (!expectedToken || token !== expectedToken) {\n  return [null, { json: { chatId, message: '\ud83d\udd12 Invalid approval token. Action blocked.' } }];\n}\n\nreturn [{ json: { chatId, command, approvedBy: from, token } }, null];"
      },
      "id": "dbcef65c-b896-49ac-af85-c0f55f4eb55f",
      "name": "Validate Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        752
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server:8000/tools/kubectl-write",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ command: $json.command, approved_by: $json.approvedBy, approval_token: $json.token }) }}",
        "options": {}
      },
      "id": "7edde8a4-536e-4800-9b04-0e0844138d4b",
      "name": "Execute Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        752
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Validate Approval').first().json.chatId }}",
        "text": "=\u2705 <b>Executed by {{ $('Validate Approval').first().json.approvedBy }}:</b>\n<code>kubectl {{ $('Validate Approval').first().json.command }}</code>\n\n{{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "d24ec3d2-c9dd-439c-a0a8-33f3c16b772b",
      "name": "Send Execution Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -400,
        752
      ],
      "webhookId": "0ef3c1bb-8646-4cc1-ba91-b7486a54376a",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "5a0c2335-ee6c-4261-bdfa-ccc083b1ccb6",
      "name": "Send Denial",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1888,
        976
      ],
      "webhookId": "6ce97b27-7ab7-41b9-8855-1c37e41ee25a",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.route }}",
              "rightValue": "query",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "16ad0d8a-8caa-47ba-a825-6f8fd204b9f8",
      "name": "Is Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1440,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $json.needsApproval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f8aff179-8cec-4b1a-8616-bf843aaf4c02",
      "name": "Needs Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -400,
        464
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Route Message').first().json.chatId }}",
        "contextWindowLength": 10
      },
      "id": "89a8fb80-6811-4650-b6d1-782a14529efc",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1088,
        576
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message": {
      "main": [
        [
          {
            "node": "Is Query?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Assistant": {
      "ai_languageModel": [
        [
          {
            "node": "K8s Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "kubectl_read": {
      "ai_tool": [
        [
          {
            "node": "K8s Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "promql": {
      "ai_tool": [
        [
          {
            "node": "K8s Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "K8s Assistant": {
      "main": [
        [
          {
            "node": "Check Write Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Write Needed": {
      "main": [
        [
          {
            "node": "Needs Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Approval": {
      "main": [
        [
          {
            "node": "Execute Write",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Write": {
      "main": [
        [
          {
            "node": "Send Execution Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Query?": {
      "main": [
        [
          {
            "node": "K8s Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Approval?": {
      "main": [
        [
          {
            "node": "Send Approval Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "K8s Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "pinData": {},
  "activeVersionId": "3fd7a301-358b-4d69-88a7-5f9969a27959",
  "versionCounter": 75,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-09T11:16:42.572Z",
      "createdAt": "2026-04-09T11:16:42.572Z",
      "role": "workflow:owner",
      "workflowId": "5rc6BaRwcJzpAkKX",
      "projectId": "Z5ZsysJ0rW35XOYF",
      "project": {
        "updatedAt": "2026-04-09T09:55:44.875Z",
        "createdAt": "2026-04-09T09:55:12.447Z",
        "id": "Z5ZsysJ0rW35XOYF",
        "name": "YANIV COHEN <yanivomc@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "affeaca1-1d97-4aa4-aadf-ee88aaf990f0"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 3fd7a301",
    "description": ""
  }
}