n8n-workflows/s4-telegram-human-loop.json
{
  "name": "S4 - Telegram Human Loop",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "7e3fb805-d81c-4230-82ca-4720c390a8c1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2176,
        384
      ],
      "webhookId": "telegram-bot",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json.message;\nconst text = (msg?.text || '').trim();\nconst chatId = msg?.chat?.id?.toString();\nconst from = msg?.from?.first_name || 'Engineer';\nconst route = (text.startsWith('/approve ') || text.startsWith('/deny ')) ? 'approval' : 'query';\nreturn [{ json: { route, text, chatId, from } }];"
      },
      "id": "459ca681-c9a1-4e19-986a-b5fc33c0666b",
      "name": "Route Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1952,
        384
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.from }} asks: {{ $json.text }}\n\nAnswer using kubectl_read and/or promql. Be concise \u2014 this is a Telegram chat reply.\nFormat your response clearly with emojis. Keep it under 300 words.",
        "options": {
          "systemMessage": "You are a Kubernetes SRE assistant helping engineers via Telegram chat.\n\nYou have two tools:\n1. kubectl_read \u2014 read-only kubectl. Parameter: \"command\"\n2. promql \u2014 PromQL queries. Parameter: \"query\" (single quotes for label selectors)\n\nAlways run at least one tool. Be concise, use emojis (\u2705 \u274c \u26a0\ufe0f \ud83d\udcca).\n\nAfter investigating, if the situation would benefit from a cluster operation, end your response with this line:\nSRE_ACTION: <kubectl subcommand and flags>\nExample: SRE_ACTION: rollout restart deployment/payments-app -n prod\n\nThis is a structured suggestion field only. You are not running anything."
        }
      },
      "id": "892c14c5-9024-431c-bfe2-f031d19ff1a4",
      "name": "K8s Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1376,
        128
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "49c43d8a-966e-4929-9eb3-a0bd66d77c8f",
      "name": "Gemini Assistant",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1504,
        352
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "4Jw86EqmWdx0n1FD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Run any read-only kubectl command. Examples: get pods -n prod, describe pod <n> -n <ns>, get nodes, get events -A --sort-by=.lastTimestamp",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/kubectl-read",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"command\": \"{command}\"}"
      },
      "id": "227e6d68-88ae-4904-ae43-fd9291dc0eb1",
      "name": "kubectl_read",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1248,
        352
      ]
    },
    {
      "parameters": {
        "toolDescription": "Run any PromQL query against Prometheus. Use single quotes for label selectors.",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/promql",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": \"{query}\"}"
      },
      "id": "3931ba66-f2fa-4050-964e-ff44649a1f3a",
      "name": "promql",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -1120,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output || '';\nconst chatId = $('Route Message').first().json.chatId;\nconst match = output.match(/SRE_ACTION:\\s*(.+)/);\nif (match) {\n  const cmd = match[1].trim();\n  const token = $vars.WRITE_APPROVAL_TOKEN || 'APPROVAL_TOKEN_NOT_SET';\n  // Don't send Gemini's body text \u2014 just show the clean approval prompt\n  return [{ json: {\n    needsApproval: true,\n    command: cmd,\n    token,\n    chatId,\n    message: '',\n    approvalPrompt: '\u26a0\ufe0f <b>SRE Action suggested:</b>\\n<code>kubectl ' + cmd + '</code>\\n\\nApprove?\\n\u2705 /approve ' + token + ' ' + cmd + '\\n\u274c /deny'\n  }}];\n}\n// No action needed \u2014 send Gemini's answer as-is\nreturn [{ json: { needsApproval: false, chatId, message: output } }];"
      },
      "id": "538bf030-a32c-4f38-8ae5-7ae6c234c7a7",
      "name": "Check Write Needed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        240
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.approvalPrompt }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "2566c760-2ee2-4dfc-aca1-4fad884437b3",
      "name": "Send Approval Request",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        144
      ],
      "webhookId": "fd5872aa-7fb2-4ca8-a05a-1090b58f21aa",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "c2dacdda-9c97-4a7c-bc57-17fdc843fddd",
      "name": "Send Answer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -464,
        336
      ],
      "webhookId": "109c2e40-5bfc-483f-8481-4fa886c211f2",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text;\nconst chatId = $input.first().json.chatId;\nconst from = $input.first().json.from;\nconst expectedToken = $vars.WRITE_APPROVAL_TOKEN || '';\n\n// Route field so IF node can split\nif (text.startsWith('/deny')) {\n  return [{ json: { route: 'deny', chatId, message: '\u274c Action denied by ' + from + '. No changes made.' } }];\n}\n\nconst parts = text.split(' ');\nconst token = parts[1] || '';\nconst command = parts.slice(2).join(' ');\n\nif (!expectedToken || token !== expectedToken) {\n  return [{ json: { route: 'deny', chatId, message: '\ud83d\udd12 Invalid approval token. Action blocked.' } }];\n}\n\nreturn [{ json: { route: 'approve', chatId, command, approvedBy: from, token } }];"
      },
      "id": "9303dd3d-422d-425b-81e2-cfef7ac558a9",
      "name": "Validate Approval",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        528
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server:8000/tools/kubectl-write",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ command: $json.command, approved_by: $json.approvedBy, approval_token: $json.token }) }}",
        "options": {}
      },
      "id": "66fa8609-f669-4d17-9bbf-6bc458b7b49b",
      "name": "Execute Write",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -912,
        528
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Validate Approval').first().json.chatId }}",
        "text": "=\u2705 <b>Executed by {{ $('Validate Approval').first().json.approvedBy }}:</b>\n<code>kubectl {{ $('Validate Approval').first().json.command }}</code>\n\n{{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "fde54d79-35cf-4302-b526-4b22004d7d50",
      "name": "Send Execution Result",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -688,
        528
      ],
      "webhookId": "0ef3c1bb-8646-4cc1-ba91-b7486a54376a",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "575b0a6b-5746-44a1-a181-7df34560cad2",
      "name": "Send Denial",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2176,
        752
      ],
      "webhookId": "6ce97b27-7ab7-41b9-8855-1c37e41ee25a",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.route }}",
              "rightValue": "query",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3d753d02-02bb-4a00-bd99-67b20c004c96",
      "name": "Is Query?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1728,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $json.needsApproval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9b380e0f-7e3a-4ad2-a007-523222841f02",
      "name": "Needs Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -688,
        240
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Route Message').first().json.chatId }}",
        "contextWindowLength": 10
      },
      "id": "b9ec61db-c600-4a03-b456-1a55b6ebf73d",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1376,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond3",
              "leftValue": "={{ $json.route }}",
              "rightValue": "approve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0217-0217-0217-000000000217",
      "name": "Approval Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1050,
        528
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Route Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message": {
      "main": [
        [
          {
            "node": "Is Query?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Assistant": {
      "ai_languageModel": [
        [
          {
            "node": "K8s Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "kubectl_read": {
      "ai_tool": [
        [
          {
            "node": "K8s Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "promql": {
      "ai_tool": [
        [
          {
            "node": "K8s Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "K8s Assistant": {
      "main": [
        [
          {
            "node": "Check Write Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Write Needed": {
      "main": [
        [
          {
            "node": "Needs Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Approval": {
      "main": [
        [
          {
            "node": "Approval Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Write": {
      "main": [
        [
          {
            "node": "Send Execution Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Query?": {
      "main": [
        [
          {
            "node": "K8s Assistant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validate Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Approval?": {
      "main": [
        [
          {
            "node": "Send Approval Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "K8s Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Approval Valid?": {
      "main": [
        [
          {
            "node": "Execute Write",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Denial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "staticData": null
}