n8n-workflows/s5-alert-intelligence.json
{
  "updatedAt": "2026-04-12T10:15:51.667Z",
  "createdAt": "2026-04-12T06:28:21.466Z",
  "id": "LPVbHkn9iHSOPANu",
  "name": "S5 - Alert Intelligence",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prometheus-alert-s5",
        "options": {}
      },
      "id": "07fb4be6-dca4-4d08-8fc4-6b34ea8d4991",
      "name": "Alertmanager Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -7296,
        -704
      ],
      "webhookId": "1250b629-77d5-43aa-9b62-74b3b8fc0b3b"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst alerts = body.alerts || [];\nif (!alerts.length) return [];\n\nconst alert = alerts[0];\nconst runId = alert.labels?.run_id;\nconst key = `${alert.labels?.alertname}:${alert.labels?.namespace}:${alert.status}`;\nconst now = Date.now();\nconst store = $getWorkflowStaticData('global');\nstore.seen = store.seen || {};\n\n// run_id bypasses dedup entirely (for testing)\nif (runId) {\n  console.log(`DEDUP BYPASS | run_id=${runId} | key=${key}`);\n  store.seen[key] = now;\n  return [{ json: { alert, body, timestamp: new Date().toISOString() } }];\n}\n\nif (store.seen[key] && now - store.seen[key] < 600000) {\n  const ageMin = Math.round((now - store.seen[key]) / 60000);\n  console.log(`DEDUP DROP | ${key} | seen ${ageMin}min ago (window=10min)`);\n  // Return output so n8n shows why it stopped\n  return [{ json: { deduped: true, reason: `Already seen ${ageMin}min ago`, key, nextAllowedIn: `${10 - ageMin}min` } }];\n}\n\nstore.seen[key] = now;\nreturn [{ json: { alert, body, timestamp: new Date().toISOString() } }];"
      },
      "id": "6d63c980-8cc6-4fe5-8da8-be1f91cb905e",
      "name": "Dedup Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -7072,
        -704
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n// Get alert from direct field OR from body.alerts[0] as fallback\nconst alert = (data.alert && data.alert.labels) ? data.alert : (data.body?.alerts?.[0] || {});\nconst labels = alert.labels || {};\nconst annotations = alert.annotations || {};\n\nconst alertname = labels.alertname || data.body?.commonLabels?.alertname || 'Unknown';\nconst namespace = labels.namespace || labels.exported_namespace || 'workshop';\nconst pod = labels.pod || labels.exported_pod || '';\nconst severity = labels.severity || 'warning';\nconst status = alert.status || data.body?.status || 'firing';\nconst summary = annotations.summary || data.body?.commonAnnotations?.summary || alertname;\nconst description = annotations.description || data.body?.commonAnnotations?.description || '';\n\nconst signalMap = {\n  TargetAppCPUStress: [\n    { name: 'cpu_active', query: `target_chaos_cpu_active{namespace=\"${namespace}\"}`, label: 'CPU Stress' },\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak' },\n    { name: 'restarts', query: `increase(kube_pod_container_status_restarts_total{namespace=\"${namespace}\",pod=~\"target-app.*\"}[5m])`, label: 'Pod Restarts' }\n  ],\n  TargetAppMemoryLeak: [\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak' },\n    { name: 'memory_bytes', query: `target_chaos_memory_bytes{namespace=\"${namespace}\"}`, label: 'Memory Allocated' },\n    { name: 'cpu_active', query: `target_chaos_cpu_active{namespace=\"${namespace}\"}`, label: 'CPU Stress' }\n  ],\n  TargetAppMemoryCritical: [\n    { name: 'memory_bytes', query: `target_chaos_memory_bytes{namespace=\"${namespace}\"}`, label: 'Memory Allocated' },\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak Active' },\n    { name: 'cpu_active', query: `target_chaos_cpu_active{namespace=\"${namespace}\"}`, label: 'CPU Stress' }\n  ],\n  TargetAppCrashLooping: [\n    { name: 'restarts', query: `increase(kube_pod_container_status_restarts_total{namespace=\"${namespace}\",pod=~\"target-app.*\"}[5m])`, label: 'Pod Restarts' },\n    { name: 'not_ready', query: `kube_pod_status_ready{namespace=\"${namespace}\",condition=\"true\",pod=~\"target-app.*\"}`, label: 'Pod Ready' },\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak' }\n  ]\n};\n\nconst signals = signalMap[alertname] || [\n  { name: 'restarts', query: `increase(kube_pod_container_status_restarts_total{namespace=\"${namespace}\"}[5m])`, label: 'Pod Restarts' }\n];\n\nreturn [{ json: { alertname, namespace, pod, severity, status, summary, description, signals, alert, body: data.body } }];"
      },
      "id": "e1d83b7c-ea46-44a4-9b13-80168802bbee",
      "name": "Extract Brief + Signal Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6624,
        -704
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst { alertname, namespace, pod, severity, status, summary, description, signals, alert, body } = input;\n\n// Pass through without PromQL calls \u2014 AI Agent will verify signals directly\n// Pre-set confidence to MEDIUM so it always escalates to AI Agent\nreturn [{ json: {\n  alertname, namespace, pod, severity, status, summary, description, alert, body,\n  signals: signals.map(s => ({ ...s, value: 0, active: false })),\n  activeCount: 0, totalCount: signals.length,\n  confidencePct: 50, confidenceLabel: 'MEDIUM',\n  durationStr: (() => {\n    try {\n      const startsAt = alert?.startsAt || '';\n      if (startsAt && !startsAt.startsWith('0001')) {\n        const secs = Math.round((Date.now() - new Date(startsAt).getTime()) / 1000);\n        return secs < 60 ? `${secs}s` : `${Math.floor(secs/60)}m ${secs%60}s`;\n      }\n    } catch(e) {}\n    return 'unknown';\n  })()\n} }];"
      },
      "id": "823a3440-7714-4340-ab79-e65b2e191b2a",
      "name": "PromQL Enrichment + Confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6400,
        -704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.confidenceLabel }}",
              "rightValue": "LOW",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7cf9a882-4aeb-484d-a869-b72204200da2",
      "name": "Worth Escalating?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -6176,
        -704
      ]
    },
    {
      "parameters": {
        "jsCode": "// Low confidence \u2014 just log, don't escalate\nconst { alertname, namespace, confidenceLabel, confidencePct } = $input.first().json;\nconsole.log(`S5 LOW CONFIDENCE | ${alertname} | ${namespace} | ${confidencePct}% \u2014 not escalating`);\nreturn [];"
      },
      "id": "856e54d2-6289-4466-91be-9fd29d277cf8",
      "name": "Log Only (Low Confidence)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5840,
        -560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ ['Investigate this Kubernetes incident:', 'Alert: ' + $('PromQL Enrichment + Confidence').first().json.alertname, 'Namespace: ' + $('PromQL Enrichment + Confidence').first().json.namespace, 'Pod: ' + $('PromQL Enrichment + Confidence').first().json.pod, 'Severity: ' + $('PromQL Enrichment + Confidence').first().json.severity, 'Duration: ' + $('PromQL Enrichment + Confidence').first().json.durationStr, 'Summary: ' + $('PromQL Enrichment + Confidence').first().json.summary, 'Description: ' + $('PromQL Enrichment + Confidence').first().json.description, 'Confidence: ' + $('PromQL Enrichment + Confidence').first().json.confidenceLabel + ' (' + $('PromQL Enrichment + Confidence').first().json.confidencePct + '%)', 'Signals: ' + JSON.stringify($('PromQL Enrichment + Confidence').first().json.signals.map(s => s.label + '=' + s.value)), 'Use kubectl_read and promql tools to verify. Then assess root cause.'].join('\\n') }}",
        "options": {
          "systemMessage": "You are a senior SRE responding to a production Kubernetes incident.\n\n\u26a0\ufe0f CRITICAL: target_chaos_* metrics confirm REAL resource pressure on the system. Even when the source is a chaos engineering tool, the CPU, memory, and pod stress is REAL and requires REAL remediation. Never dismiss as \"test\" or \"expected behavior\". Always investigate and remediate.\n\nExact metric names (use these \u2014 do not guess variations):\n- target_chaos_cpu_active (value 1 = CPU stress active)\n- target_chaos_memory_active (value 1 = memory leak active)\n- target_chaos_memory_bytes (current allocated bytes)\n- target_chaos_error_active (value 1 = error rate chaos active)\n- target_chaos_error_rate (0.0-1.0 fraction of failing requests)\n- target_chaos_latency_active (value 1 = latency chaos active)\n- target_chaos_latency_ms (injected delay in milliseconds)\n\n## Environment\n- Namespace: workshop\n- App: target-app (FastAPI)\n- Tools available: kubectl_read (free), promql (free)\n\n---\n\n## HOW YOU THINK\nYou reason through the system layer by layer, from the outside in.\nA fault at any layer causes symptoms in all layers above it. Always find the LOWEST broken layer.\n\n  [ 1 ] TRAFFIC INGRESS   \u2014 Can traffic reach the app?\n  [ 2 ] SCHEDULING        \u2014 Are pods running and where they should be?\n  [ 3 ] RUNTIME           \u2014 Are containers alive and within resource bounds?\n  [ 4 ] APPLICATION       \u2014 Is the app responding correctly inside the pod?\n  [ 5 ] DEPENDENCIES      \u2014 Does the app have what it needs to function?\n\n---\n\n## INVESTIGATION PROTOCOL\n\n### Step 1 \u2014 Orient (always run these first)\n- kubectl_read: `get all -n workshop`\n- kubectl_read: `get events -n workshop --sort-by=.lastTimestamp | tail -20`\n- promql: check target_chaos_cpu_active, target_chaos_memory_active, target_chaos_memory_bytes\n\n### Step 2 \u2014 Investigate each hypothesis, layer by layer\nFor each hypothesis: \"What single kubectl or promql call would CONFIRM or ELIMINATE this?\" Run it. Update. Repeat.\n\n### Step 3 \u2014 Ownership check (MANDATORY before any fix)\n- Deployment exists \u2192 `kubectl rollout restart deployment/<n> -n workshop`\n- No controller \u2192 `kubectl delete pod <n> -n workshop` \u26a0\ufe0f destructive\n\n---\n\n## OUTPUT FORMAT\n\n**\ud83d\udd0d Hypothesis & Evidence Trail**\n[CONFIRMED/ELIMINATED] \u2014 what you found\n\n**\ud83d\udccd Fault Location**\nLayer N \u2014 <layer name>: <specific resource or metric that confirmed the fault>\n\n**\ud83e\udde0 Root Cause**\nPrecise description with evidence: pod names, metric values, exit codes.\n\n**\ud83d\udccc Confidence:** HIGH | MEDIUM | LOW\n- HIGH = confirmed by \u22652 independent signals (kubectl + metrics)\n- MEDIUM = one clear signal, no contradicting data\n- LOW = ambiguous\n\n**\ud83d\udee0\ufe0f Remediation**\nRationale: <why this fixes the confirmed fault>\n\nMANDATORY \u2014 always end your response with this exact line:\nSRE_ACTION: kubectl <single exact command>\n\n**\u26a0\ufe0f Active Warnings**\n- Chaos still active: metrics won't normalize until deactivated\n- Write operations need approval via S4"
        }
      },
      "id": "3d03db10-83c8-4ceb-bffb-d8a29469fdd2",
      "name": "AI Agent (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -5904,
        -960
      ]
    },
    {
      "parameters": {
        "toolDescription": "Run any read-only kubectl command against the cluster. Adapt the command to whatever resource type is being investigated \u2014 pods, deployments, nodes, services, endpoints, HPAs, PVCs, etc.",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/kubectl-read",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"command\": \"{command}\"}"
      },
      "id": "01cd813c-6c38-4bcd-ac20-c2c3b770db32",
      "name": "kubectl_read",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -5824,
        -736
      ]
    },
    {
      "parameters": {
        "toolDescription": "Run any PromQL query against Prometheus for live metrics. Use queries relevant to the resource type and symptom being investigated.",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/promql",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "id": "430c7771-be1c-4ea8-ba0c-790b80220d92",
      "name": "promql",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -5696,
        -736
      ]
    },
    {
      "parameters": {
        "jsCode": "const enriched = $('PromQL Enrichment + Confidence').first().json;\nconst agentOutput = $input.first().json.output || '';\n\nconst { alertname, namespace, pod, severity, durationStr, status } = enriched;\n\n// Extract from AI Agent output\nconst aiConfMatch = agentOutput.match(/Confidence:\\s*(HIGH|MEDIUM|LOW)/i);\nconst aiConfidence = aiConfMatch ? aiConfMatch[1].toUpperCase() : 'MEDIUM';\n\n// Extract SRE_ACTION \u2014 single line only\nconst actionMatch = agentOutput.match(/SRE_ACTION:\\s*(kubectl[^\\n]+)/);\nconst sreAction = actionMatch ? actionMatch[1].trim() : null;\n\n// Store incident in MCP if there's an action\nlet incidentKey = null;\nif (sreAction) {\n  try {\n    const resp = await $httpRequest({\n      method: 'POST',\n      url: 'http://mcp-server:8000/incidents',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({\n        alertname, namespace, pod,\n        command: sreAction\n      })\n    });\n    incidentKey = resp.key;\n  } catch(e) {\n    console.log('Incident store failed:', e.message);\n  }\n}\n\n// Clean analysis\nconst analysis = agentOutput\n  .replace(/SRE_ACTION:.+/gs, '')\n  .replace(/Confidence:\\s*(HIGH|MEDIUM|LOW)/gi, '')\n  .trim();\n\nconst confBadge = { HIGH: '\ud83d\udd34 HIGH', MEDIUM: '\ud83d\udfe1 MEDIUM', LOW: '\ud83d\udfe2 LOW' }[aiConfidence] || aiConfidence;\nconst sevEmoji = severity === 'critical' ? '\ud83d\udea8' : '\u26a0\ufe0f';\nconst statusLine = status === 'firing' ? '\ud83d\udd25 FIRING' : '\u2705 RESOLVED';\n\nlet msg = `${sevEmoji} <b>INCIDENT DETECTED</b>`;\nif (incidentKey) msg += ` <code>#${incidentKey}</code>`;\nmsg += `\\n`;\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\nmsg += `\ud83d\udccd <b>${pod || 'target-app'}</b> / <code>${namespace}</code>\\n`;\nmsg += `\ud83c\udff7 <b>${alertname}</b> \u2014 ${statusLine}\\n`;\nmsg += `\u23f1 Duration: <b>${durationStr}</b>\\n`;\nmsg += `\ud83d\udd0d Confidence: <b>${confBadge}</b>\\n\\n`;\n\nmsg += `\ud83e\udde0 <b>AI Assessment</b>\\n`;\nmsg += `<i>${analysis}</i>\\n\\n`;\n\nif (sreAction) {\n  msg += `\u2705 <b>Recommended Action</b>\\n`;\n  msg += `<code>${sreAction}</code>\\n\\n`;\n  msg += `\ud83d\udcac Reply: <code>/approve &lt;totp&gt; ${incidentKey || ''}</code>\\n`;\n} else {\n  msg += `\u2139\ufe0f No write action required \u2014 monitoring only\\n`;\n}\n\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\nmsg += `\ud83d\udd50 ${new Date().toISOString().replace('T', ' ').slice(0, 19)} UTC`;\n\nreturn [{ json: { message: msg, sreAction, aiConfidence, alertname, namespace, incidentKey } }];"
      },
      "id": "17f53959-e070-41bd-bdb2-88f7c3e03cbf",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5488,
        -944
      ]
    },
    {
      "parameters": {
        "chatId": "=5926921251",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "HTML"
        }
      },
      "id": "603f0a1d-e19a-406f-bc61-36a40bc630b9",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -5264,
        -944
      ],
      "webhookId": "0fd5bf29-2923-4ca7-b8ba-a3b1ed273a07",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { alertname, namespace, confidenceLabel } = $input.first().json;\nconst msg = `\u274c <b>S5 Error</b>\\nFailed processing: ${alertname} (${namespace})\\nConfidence was: ${confidenceLabel}`;\nreturn [{ json: { message: msg } }];"
      },
      "id": "2592e62d-d39b-4081-bee4-0198dc5cc89f",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5488,
        -752
      ]
    },
    {
      "parameters": {
        "chatId": "=5926921251",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "fbe8baaa-de5c-4c0a-99b7-8b7cc5661260",
      "name": "Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -5264,
        -752
      ],
      "webhookId": "8732a283-9102-4e7b-bb66-fb298f37250e",
      "credentials": {
        "telegramApi": {
          "id": "jcA0ZMKocCJNhas2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "10ebd76b-2c77-4093-a1f2-62fdef565133",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -5952,
        -736
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "4Jw86EqmWdx0n1FD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "promUrl",
              "value": "={{ ($json.body?.alerts?.[0]?.generatorURL || 'http://monitoring-kube-prometheus-prometheus.monitoring:9090').split('/graph')[0] }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "alert",
              "value": "={{ $json.alert }}",
              "type": "object"
            },
            {
              "id": "3",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "4",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "df1a49f6-cf64-4538-955c-16b6f002d061",
      "name": "Set Prom URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6848,
        -704
      ]
    }
  ],
  "connections": {
    "Alertmanager Webhook": {
      "main": [
        [
          {
            "node": "Dedup Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Filter": {
      "main": [
        [
          {
            "node": "Set Prom URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Brief + Signal Plan": {
      "main": [
        [
          {
            "node": "PromQL Enrichment + Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PromQL Enrichment + Confidence": {
      "main": [
        [
          {
            "node": "Worth Escalating?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worth Escalating?": {
      "main": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Only (Low Confidence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Gemini)": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kubectl_read": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "promql": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Prom URL": {
      "main": [
        [
          {
            "node": "Extract Brief + Signal Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": {
    "global": {
      "seen": {
        "TargetAppMemoryCritical:workshop:firing": 1775980424460,
        "test:undefined:firing": 1775976848052,
        "TargetAppCPUStress:workshop:firing": 1775986934479,
        "TargetAppCPUStress:workshop:resolved": 1775987234491,
        "TargetAppMemoryLeak:workshop:firing": 1775987324482,
        "TargetAppMemoryLeak:workshop:resolved": 1775980334449,
        "TargetAppMemoryCritical:workshop:resolved": 1775980349458
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "74c6454e-d577-4cc6-88a8-8ace79878ffd",
  "activeVersionId": "74c6454e-d577-4cc6-88a8-8ace79878ffd",
  "versionCounter": 160,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-12T06:28:21.471Z",
      "createdAt": "2026-04-12T06:28:21.471Z",
      "role": "workflow:owner",
      "workflowId": "LPVbHkn9iHSOPANu",
      "projectId": "Z5ZsysJ0rW35XOYF",
      "project": {
        "updatedAt": "2026-04-09T09:55:44.875Z",
        "createdAt": "2026-04-09T09:55:12.447Z",
        "id": "Z5ZsysJ0rW35XOYF",
        "name": "YANIV COHEN <yanivomc@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "affeaca1-1d97-4aa4-aadf-ee88aaf990f0"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-12T10:15:54.000Z",
    "createdAt": "2026-04-12T10:15:47.588Z",
    "versionId": "74c6454e-d577-4cc6-88a8-8ace79878ffd",
    "workflowId": "LPVbHkn9iHSOPANu",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "prometheus-alert-s5",
          "options": {}
        },
        "id": "07fb4be6-dca4-4d08-8fc4-6b34ea8d4991",
        "name": "Alertmanager Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -7296,
          -704
        ],
        "webhookId": "1250b629-77d5-43aa-9b62-74b3b8fc0b3b"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst alerts = body.alerts || [];\nif (!alerts.length) return [];\n\nconst alert = alerts[0];\nconst runId = alert.labels?.run_id;\nconst key = `${alert.labels?.alertname}:${alert.labels?.namespace}:${alert.status}`;\nconst now = Date.now();\nconst store = $getWorkflowStaticData('global');\nstore.seen = store.seen || {};\n\n// run_id bypasses dedup entirely (for testing)\nif (runId) {\n  console.log(`DEDUP BYPASS | run_id=${runId} | key=${key}`);\n  store.seen[key] = now;\n  return [{ json: { alert, body, timestamp: new Date().toISOString() } }];\n}\n\nif (store.seen[key] && now - store.seen[key] < 600000) {\n  const ageMin = Math.round((now - store.seen[key]) / 60000);\n  console.log(`DEDUP DROP | ${key} | seen ${ageMin}min ago (window=10min)`);\n  // Return output so n8n shows why it stopped\n  return [{ json: { deduped: true, reason: `Already seen ${ageMin}min ago`, key, nextAllowedIn: `${10 - ageMin}min` } }];\n}\n\nstore.seen[key] = now;\nreturn [{ json: { alert, body, timestamp: new Date().toISOString() } }];"
        },
        "id": "6d63c980-8cc6-4fe5-8da8-be1f91cb905e",
        "name": "Dedup Filter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -7072,
          -704
        ],
        "disabled": true
      },
      {
        "parameters": {
          "jsCode": "const data = $input.first().json;\nconst alert = data.alert || {};\nconst labels = alert.labels || {};\nconst annotations = alert.annotations || {};\n\nconst alertname = labels.alertname || 'Unknown';\nconst namespace = labels.namespace || labels.exported_namespace || 'workshop';\nconst pod = labels.pod || labels.exported_pod || '';\nconst severity = labels.severity || 'warning';\nconst status = alert.status || 'firing';\nconst summary = annotations.summary || alertname;\nconst description = annotations.description || '';\n\nconst signalMap = {\n  TargetAppCPUStress: [\n    { name: 'cpu_active', query: `target_chaos_cpu_active{namespace=\"${namespace}\"}`, label: 'CPU Stress' },\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak' },\n    { name: 'restarts', query: `increase(kube_pod_container_status_restarts_total{namespace=\"${namespace}\",pod=~\"target-app.*\"}[5m])`, label: 'Pod Restarts' }\n  ],\n  TargetAppMemoryLeak: [\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak' },\n    { name: 'memory_bytes', query: `target_chaos_memory_bytes{namespace=\"${namespace}\"}`, label: 'Memory Allocated' },\n    { name: 'cpu_active', query: `target_chaos_cpu_active{namespace=\"${namespace}\"}`, label: 'CPU Stress' }\n  ],\n  TargetAppMemoryCritical: [\n    { name: 'memory_bytes', query: `target_chaos_memory_bytes{namespace=\"${namespace}\"}`, label: 'Memory Allocated' },\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak Active' },\n    { name: 'cpu_active', query: `target_chaos_cpu_active{namespace=\"${namespace}\"}`, label: 'CPU Stress' }\n  ],\n  TargetAppCrashLooping: [\n    { name: 'restarts', query: `increase(kube_pod_container_status_restarts_total{namespace=\"${namespace}\",pod=~\"target-app.*\"}[5m])`, label: 'Pod Restarts' },\n    { name: 'not_ready', query: `kube_pod_status_ready{namespace=\"${namespace}\",condition=\"true\",pod=~\"target-app.*\"}`, label: 'Pod Ready' },\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak' }\n  ]\n};\n\nconst signals = signalMap[alertname] || [\n  { name: 'restarts', query: `increase(kube_pod_container_status_restarts_total{namespace=\"${namespace}\"}[5m])`, label: 'Pod Restarts' }\n];\n\nreturn [{ json: { alertname, namespace, pod, severity, status, summary, description, signals, alert, body: data.body } }];"
        },
        "id": "e1d83b7c-ea46-44a4-9b13-80168802bbee",
        "name": "Extract Brief + Signal Plan",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -6624,
          -704
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst { alertname, namespace, pod, severity, status, summary, description, signals, alert, body } = input;\n\nconst results = [];\nfor (const sig of signals) {\n  try {\n    const resp = await fetch('http://mcp-server:8000/tools/promql', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ query: sig.query })\n    });\n    const data = await resp.json();\n    // MCP returns { result: [{metric:{...}, value:[timestamp, \"1\"]}] }\n    const result = data.result || [];\n    let value = 0;\n    if (result.length > 0) {\n      // value is [timestamp, \"number_as_string\"]\n      value = parseFloat(result[0].value?.[1] ?? '0');\n    }\n    results.push({ ...sig, value, active: value > 0 });\n  } catch(e) {\n    results.push({ ...sig, value: 0, active: false, error: String(e.message || e) });\n  }\n}\n\nconst activeCount = results.filter(r => r.active).length;\nconst totalCount = results.length;\nconst confidencePct = Math.round((activeCount / totalCount) * 100);\nlet confidenceLabel = 'LOW';\nif (confidencePct >= 66) confidenceLabel = 'HIGH';\nelse if (confidencePct >= 33) confidenceLabel = 'MEDIUM';\n\nlet durationStr = 'unknown';\ntry {\n  const startsAt = alert?.startsAt || '';\n  if (startsAt && !startsAt.startsWith('0001')) {\n    const secs = Math.round((Date.now() - new Date(startsAt).getTime()) / 1000);\n    durationStr = secs < 60 ? `${secs}s` : `${Math.floor(secs/60)}m ${secs%60}s`;\n  }\n} catch(e) {}\n\nreturn [{ json: {\n  alertname, namespace, pod, severity, status, summary, description, alert, body,\n  signals: results, activeCount, totalCount, confidencePct, confidenceLabel, durationStr\n} }];"
        },
        "id": "823a3440-7714-4340-ab79-e65b2e191b2a",
        "name": "PromQL Enrichment + Confidence",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -6400,
          -704
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "conditions": [
              {
                "leftValue": "={{ $json.confidenceLabel }}",
                "rightValue": "LOW",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "7cf9a882-4aeb-484d-a869-b72204200da2",
        "name": "Worth Escalating?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -6176,
          -704
        ]
      },
      {
        "parameters": {
          "jsCode": "// Low confidence \u2014 just log, don't escalate\nconst { alertname, namespace, confidenceLabel, confidencePct } = $input.first().json;\nconsole.log(`S5 LOW CONFIDENCE | ${alertname} | ${namespace} | ${confidencePct}% \u2014 not escalating`);\nreturn [];"
        },
        "id": "856e54d2-6289-4466-91be-9fd29d277cf8",
        "name": "Log Only (Low Confidence)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -5840,
          -560
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ ['Investigate this Kubernetes incident:', 'Alert: ' + $('PromQL Enrichment + Confidence').first().json.alertname, 'Namespace: ' + $('PromQL Enrichment + Confidence').first().json.namespace, 'Pod: ' + $('PromQL Enrichment + Confidence').first().json.pod, 'Severity: ' + $('PromQL Enrichment + Confidence').first().json.severity, 'Duration: ' + $('PromQL Enrichment + Confidence').first().json.durationStr, 'Summary: ' + $('PromQL Enrichment + Confidence').first().json.summary, 'Description: ' + $('PromQL Enrichment + Confidence').first().json.description, 'Confidence: ' + $('PromQL Enrichment + Confidence').first().json.confidenceLabel + ' (' + $('PromQL Enrichment + Confidence').first().json.confidencePct + '%)', 'Signals: ' + JSON.stringify($('PromQL Enrichment + Confidence').first().json.signals.map(s => s.label + '=' + s.value)), 'Use kubectl_read and promql tools to verify. Then assess root cause.'].join('\\n') }}",
          "options": {
            "systemMessage": "You are a senior SRE. Investigate the incident using your tools:\n\nTOOL USAGE RULES:\n- kubectl_read: use field \"command\" \u2192 e.g. {\"command\": \"kubectl get pods -n workshop\"}\n- promql: use field \"query\" \u2192 e.g. {\"query\": \"target_chaos_cpu_active{namespace=\\\"workshop\\\"}\"}\n\nINVESTIGATION STEPS:\n1. kubectl_read: {\"command\": \"kubectl get pods -n workshop\"}\n2. promql: {\"query\": \"target_chaos_cpu_active{namespace=\\\"workshop\\\"}\"}\n3. promql: {\"query\": \"target_chaos_memory_active{namespace=\\\"workshop\\\"}\"}\n\nRESPONSE FORMAT:\nRoot cause: <2 sentences max>\nSRE_ACTION: kubectl <command>   \u2190 only if action needed, otherwise omit\n\nExpert audience. No basics."
          }
        },
        "id": "3d03db10-83c8-4ceb-bffb-d8a29469fdd2",
        "name": "AI Agent (Gemini)",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          -5904,
          -960
        ]
      },
      {
        "parameters": {
          "toolDescription": "Run any read-only kubectl command against the cluster. Adapt the command to whatever resource type is being investigated \u2014 pods, deployments, nodes, services, endpoints, HPAs, PVCs, etc.",
          "method": "POST",
          "url": "http://mcp-server:8000/tools/kubectl-read",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"command\": \"{command}\"}"
        },
        "id": "01cd813c-6c38-4bcd-ac20-c2c3b770db32",
        "name": "kubectl_read",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          -5824,
          -736
        ]
      },
      {
        "parameters": {
          "toolDescription": "Run any PromQL query against Prometheus for live metrics. Use queries relevant to the resource type and symptom being investigated.",
          "method": "POST",
          "url": "http://mcp-server:8000/tools/promql",
          "sendBody": true,
          "parametersBody": {
            "values": [
              {
                "name": "query"
              }
            ]
          }
        },
        "id": "430c7771-be1c-4ea8-ba0c-790b80220d92",
        "name": "promql",
        "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
        "typeVersion": 1.1,
        "position": [
          -5696,
          -736
        ]
      },
      {
        "parameters": {
          "jsCode": "const enriched = $('PromQL Enrichment + Confidence').first().json;\nconst agentOutput = $input.first().json.output || '';\n\nconst { alertname, namespace, pod, severity, summary, description, signals, activeCount, totalCount, confidencePct, confidenceLabel, durationStr, status } = enriched;\n\n// Signal bars (visual)\nconst bar = (val, max) => {\n  const pct = max > 0 ? Math.min(val / max, 1) : (val > 0 ? 1 : 0);\n  const filled = Math.round(pct * 8);\n  return '\u2588'.repeat(filled) + '\u2591'.repeat(8 - filled);\n};\n\nconst signalLines = signals.map(s => {\n  const display = s.name === 'memory_bytes'\n    ? `${Math.round(s.value / 1024 / 1024)}MB`\n    : s.value.toFixed(1);\n  const b = s.name === 'memory_bytes' ? bar(s.value, 500 * 1024 * 1024) : bar(s.value, 1);\n  const icon = s.active ? '\ud83d\udd34' : '\ud83d\udfe2';\n  return `  ${icon} <b>${s.label.padEnd(16)}</b> ${b}  ${display}`;\n}).join('\\n');\n\n// Extract SRE_ACTION if present\nconst actionMatch = agentOutput.match(/SRE_ACTION:\\s*(.+)/);\nconst sreAction = actionMatch ? actionMatch[1].trim() : null;\nconst analysis = agentOutput.replace(/SRE_ACTION:.+/, '').trim();\n\n// Confidence badge\nconst confBadge = { HIGH: '\ud83d\udd34 HIGH', MEDIUM: '\ud83d\udfe1 MEDIUM', LOW: '\ud83d\udfe2 LOW' }[confidenceLabel] || confidenceLabel;\nconst sevEmoji = severity === 'critical' ? '\ud83d\udea8' : '\u26a0\ufe0f';\nconst statusLine = status === 'firing' ? '\ud83d\udd25 FIRING' : '\u2705 RESOLVED';\n\nlet msg = `${sevEmoji} <b>INCIDENT DETECTED</b>\\n`;\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\nmsg += `\ud83d\udccd <b>${pod || 'target-app'}</b> / <code>${namespace}</code>\\n`;\nmsg += `\ud83c\udff7 <b>${alertname}</b> \u2014 ${statusLine}\\n`;\nmsg += `\u23f1 Duration: <b>${durationStr}</b>\\n\\n`;\n\nmsg += `\ud83d\udcca <b>Signal Correlation</b>\\n`;\nmsg += `<code>${signalLines}</code>\\n`;\nmsg += `Confidence: <b>${confBadge}</b> (${activeCount}/${totalCount} signals active)\\n\\n`;\n\nmsg += `\ud83e\udde0 <b>AI Assessment</b>\\n`;\nmsg += `<i>${analysis}</i>\\n\\n`;\n\nif (sreAction) {\n  msg += `\u2705 <b>Recommended Action</b>\\n`;\n  msg += `<code>${sreAction}</code>\\n\\n`;\n  msg += `\ud83d\udcac Reply <code>/approve &lt;totp&gt;</code> to execute via S4\\n`;\n} else {\n  msg += `\u2139\ufe0f No write action required \u2014 monitoring only\\n`;\n}\n\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\nmsg += `\ud83d\udd50 ${new Date().toISOString().replace('T', ' ').slice(0, 19)} UTC`;\n\nreturn [{ json: { message: msg, sreAction, confidenceLabel, alertname, namespace } }];"
        },
        "id": "17f53959-e070-41bd-bdb2-88f7c3e03cbf",
        "name": "Format Telegram Message",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -5488,
          -944
        ]
      },
      {
        "parameters": {
          "chatId": "=5926921251",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "disable_web_page_preview": true,
            "parse_mode": "HTML"
          }
        },
        "id": "603f0a1d-e19a-406f-bc61-36a40bc630b9",
        "name": "Send to Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -5264,
          -944
        ],
        "webhookId": "0fd5bf29-2923-4ca7-b8ba-a3b1ed273a07",
        "credentials": {
          "telegramApi": {
            "id": "jcA0ZMKocCJNhas2",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const { alertname, namespace, confidenceLabel } = $input.first().json;\nconst msg = `\u274c <b>S5 Error</b>\\nFailed processing: ${alertname} (${namespace})\\nConfidence was: ${confidenceLabel}`;\nreturn [{ json: { message: msg } }];"
        },
        "id": "2592e62d-d39b-4081-bee4-0198dc5cc89f",
        "name": "Format Error",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -5488,
          -752
        ]
      },
      {
        "parameters": {
          "chatId": "=5926921251",
          "text": "={{ $json.message }}",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "id": "fbe8baaa-de5c-4c0a-99b7-8b7cc5661260",
        "name": "Telegram Error",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          -5264,
          -752
        ],
        "webhookId": "8732a283-9102-4e7b-bb66-fb298f37250e",
        "credentials": {
          "telegramApi": {
            "id": "jcA0ZMKocCJNhas2",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "10ebd76b-2c77-4093-a1f2-62fdef565133",
        "name": "Gemini Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -5952,
          -736
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "4Jw86EqmWdx0n1FD",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "promUrl",
                "value": "={{ ($json.body?.alerts?.[0]?.generatorURL || 'http://monitoring-kube-prometheus-prometheus.monitoring:9090').split('/graph')[0] }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "alert",
                "value": "={{ $json.alert }}",
                "type": "object"
              },
              {
                "id": "3",
                "name": "body",
                "value": "={{ $json.body }}",
                "type": "object"
              },
              {
                "id": "4",
                "name": "timestamp",
                "value": "={{ $json.timestamp }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "df1a49f6-cf64-4538-955c-16b6f002d061",
        "name": "Set Prom URL",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -6848,
          -704
        ]
      }
    ],
    "connections": {
      "Alertmanager Webhook": {
        "main": [
          [
            {
              "node": "Dedup Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dedup Filter": {
        "main": [
          [
            {
              "node": "Set Prom URL",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Brief + Signal Plan": {
        "main": [
          [
            {
              "node": "PromQL Enrichment + Confidence",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PromQL Enrichment + Confidence": {
        "main": [
          [
            {
              "node": "Worth Escalating?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Worth Escalating?": {
        "main": [
          [
            {
              "node": "AI Agent (Gemini)",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log Only (Low Confidence)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent (Gemini)": {
        "main": [
          [
            {
              "node": "Format Telegram Message",
              "type": "main",
              "index": 0
            },
            {
              "node": "Format Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "kubectl_read": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Gemini)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "promql": {
        "ai_tool": [
          [
            {
              "node": "AI Agent (Gemini)",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Format Telegram Message": {
        "main": [
          [
            {
              "node": "Send to Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent (Gemini)",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Set Prom URL": {
        "main": [
          [
            {
              "node": "Extract Brief + Signal Plan",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "YANIV COHEN",
    "name": "Version 74c6454e",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-12T10:15:54.879Z",
        "id": 89,
        "workflowId": "LPVbHkn9iHSOPANu",
        "versionId": "74c6454e-d577-4cc6-88a8-8ace79878ffd",
        "event": "activated",
        "userId": "affeaca1-1d97-4aa4-aadf-ee88aaf990f0"
      }
    ]
  }
}