n8n-workflows/s5-alert-intelligence.json
{
  "name": "S5 - Alert Intelligence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prometheus-alert-s5",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Alertmanager Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst alerts = body.alerts || [];\nif (!alerts.length) return [];\n\nconst alert = alerts[0];\nconst runId = alert.labels?.run_id;\nconst key = `${alert.labels?.alertname}:${alert.labels?.namespace}:${alert.status}`;\nconst now = Date.now();\nconst store = $getWorkflowStaticData('global');\nstore.seen = store.seen || {};\n\n// run_id bypasses dedup entirely (for testing)\nif (runId) {\n  console.log(`DEDUP BYPASS | run_id=${runId} | key=${key}`);\n  store.seen[key] = now;\n  return [{ json: { alert, body, timestamp: new Date().toISOString() } }];\n}\n\nif (store.seen[key] && now - store.seen[key] < 600000) {\n  const ageMin = Math.round((now - store.seen[key]) / 60000);\n  console.log(`DEDUP DROP | ${key} | seen ${ageMin}min ago (window=10min)`);\n  // Return output so n8n shows why it stopped\n  return [{ json: { deduped: true, reason: `Already seen ${ageMin}min ago`, key, nextAllowedIn: `${10 - ageMin}min` } }];\n}\n\nstore.seen[key] = now;\nreturn [{ json: { alert, body, timestamp: new Date().toISOString() } }];"
      },
      "id": "dedup-filter",
      "name": "Dedup Filter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst alert = data.alert || {};\nconst labels = alert.labels || {};\nconst annotations = alert.annotations || {};\n\nconst alertname = labels.alertname || 'Unknown';\nconst namespace = labels.namespace || labels.exported_namespace || 'workshop';\nconst pod = labels.pod || labels.exported_pod || '';\nconst severity = labels.severity || 'warning';\nconst status = alert.status || 'firing';\nconst summary = annotations.summary || alertname;\nconst description = annotations.description || '';\n\nconst signalMap = {\n  TargetAppCPUStress: [\n    { name: 'cpu_active', query: `target_chaos_cpu_active{namespace=\"${namespace}\"}`, label: 'CPU Stress' },\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak' },\n    { name: 'restarts', query: `increase(kube_pod_container_status_restarts_total{namespace=\"${namespace}\",pod=~\"target-app.*\"}[5m])`, label: 'Pod Restarts' }\n  ],\n  TargetAppMemoryLeak: [\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak' },\n    { name: 'memory_bytes', query: `target_chaos_memory_bytes{namespace=\"${namespace}\"}`, label: 'Memory Allocated' },\n    { name: 'cpu_active', query: `target_chaos_cpu_active{namespace=\"${namespace}\"}`, label: 'CPU Stress' }\n  ],\n  TargetAppMemoryCritical: [\n    { name: 'memory_bytes', query: `target_chaos_memory_bytes{namespace=\"${namespace}\"}`, label: 'Memory Allocated' },\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak Active' },\n    { name: 'cpu_active', query: `target_chaos_cpu_active{namespace=\"${namespace}\"}`, label: 'CPU Stress' }\n  ],\n  TargetAppCrashLooping: [\n    { name: 'restarts', query: `increase(kube_pod_container_status_restarts_total{namespace=\"${namespace}\",pod=~\"target-app.*\"}[5m])`, label: 'Pod Restarts' },\n    { name: 'not_ready', query: `kube_pod_status_ready{namespace=\"${namespace}\",condition=\"true\",pod=~\"target-app.*\"}`, label: 'Pod Ready' },\n    { name: 'memory_active', query: `target_chaos_memory_active{namespace=\"${namespace}\"}`, label: 'Memory Leak' }\n  ]\n};\n\nconst signals = signalMap[alertname] || [\n  { name: 'restarts', query: `increase(kube_pod_container_status_restarts_total{namespace=\"${namespace}\"}[5m])`, label: 'Pod Restarts' }\n];\n\nreturn [{ json: { alertname, namespace, pod, severity, status, summary, description, signals, alert, body: data.body } }];"
      },
      "id": "extract-brief",
      "name": "Extract Brief + Signal Plan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const { alertname, namespace, pod, severity, status, summary, description, signals, alert, body } = $input.first().json;\nconst promUrl = $('Set Prom URL').first().json.promUrl || 'http://localhost:9090';\n\nconst results = [];\nfor (const sig of signals) {\n  try {\n    const url = `${promUrl}/api/v1/query?query=${encodeURIComponent(sig.query)}`;\n    const resp = await $http.get(url);\n    const data = resp.data || resp;\n    const result = data.data?.result || [];\n    const value = result.length > 0 ? parseFloat(result[0].value[1]) : 0;\n    results.push({ ...sig, value, active: value > 0 });\n  } catch(e) {\n    results.push({ ...sig, value: 0, active: false, error: String(e.message) });\n  }\n}\n\nconst activeCount = results.filter(r => r.active).length;\nconst totalCount = results.length;\nconst confidencePct = Math.round((activeCount / totalCount) * 100);\nlet confidenceLabel = 'LOW';\nif (confidencePct >= 66) confidenceLabel = 'HIGH';\nelse if (confidencePct >= 33) confidenceLabel = 'MEDIUM';\n\n// Duration estimate from startsAt\nlet durationStr = 'unknown';\ntry {\n  const startsAt = alert.startsAt || '';\n  if (startsAt) {\n    const secs = Math.round((Date.now() - new Date(startsAt).getTime()) / 1000);\n    durationStr = secs < 60 ? `${secs}s` : `${Math.floor(secs/60)}m ${secs%60}s`;\n  }\n} catch(e) {}\n\nreturn [{ json: {\n  alertname, namespace, pod, severity, status, summary, description, alert, body,\n  signals: results, activeCount, totalCount, confidencePct, confidenceLabel, durationStr\n} }];"
      },
      "id": "enrich-signals",
      "name": "PromQL Enrichment + Confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.confidenceLabel }}",
              "rightValue": "LOW",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        }
      },
      "id": "confidence-gate",
      "name": "Worth Escalating?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Low confidence \u2014 just log, don't escalate\nconst { alertname, namespace, confidenceLabel, confidencePct } = $input.first().json;\nconsole.log(`S5 LOW CONFIDENCE | ${alertname} | ${namespace} | ${confidencePct}% \u2014 not escalating`);\nreturn [];"
      },
      "id": "log-only",
      "name": "Log Only (Low Confidence)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        460
      ]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash",
        "options": {
          "systemMessage": "You are a senior SRE investigating a Kubernetes incident. You have been given an enriched alert with correlated signal data.\n\nYour job:\n1. Confirm or challenge the AI assessment based on the signal data\n2. Identify the most likely root cause\n3. If a remediation action is appropriate, end with exactly:\n   SRE_ACTION: kubectl <command>\n   (omit SRE_ACTION if no write action needed)\n\nBe concise. Max 3 sentences of analysis. Focus on what matters for the on-call engineer.\nDo NOT explain what Kubernetes is. Assume expert audience."
        }
      },
      "id": "ai-agent",
      "name": "AI Agent (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1560,
        200
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Run read-only kubectl commands to investigate the cluster",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/kubectl-read",
        "sendBody": true,
        "bodyParameters": {
          "values": [
            {
              "name": "command"
            }
          ]
        },
        "toolName": "kubectl_read"
      },
      "id": "kubectl-read",
      "name": "kubectl_read",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1560,
        360
      ]
    },
    {
      "parameters": {
        "toolDescription": "Run PromQL queries against Prometheus",
        "method": "POST",
        "url": "http://mcp-server:8000/tools/promql",
        "sendBody": true,
        "bodyParameters": {
          "values": [
            {
              "name": "query"
            }
          ]
        },
        "toolName": "promql"
      },
      "id": "promql-tool",
      "name": "promql",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1560,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "const enriched = $('PromQL Enrichment + Confidence').first().json;\nconst agentOutput = $input.first().json.output || '';\n\nconst { alertname, namespace, pod, severity, summary, description, signals, activeCount, totalCount, confidencePct, confidenceLabel, durationStr, status } = enriched;\n\n// Signal bars (visual)\nconst bar = (val, max) => {\n  const pct = max > 0 ? Math.min(val / max, 1) : (val > 0 ? 1 : 0);\n  const filled = Math.round(pct * 8);\n  return '\u2588'.repeat(filled) + '\u2591'.repeat(8 - filled);\n};\n\nconst signalLines = signals.map(s => {\n  const display = s.name === 'memory_bytes'\n    ? `${Math.round(s.value / 1024 / 1024)}MB`\n    : s.value.toFixed(1);\n  const b = s.name === 'memory_bytes' ? bar(s.value, 500 * 1024 * 1024) : bar(s.value, 1);\n  const icon = s.active ? '\ud83d\udd34' : '\ud83d\udfe2';\n  return `  ${icon} <b>${s.label.padEnd(16)}</b> ${b}  ${display}`;\n}).join('\\n');\n\n// Extract SRE_ACTION if present\nconst actionMatch = agentOutput.match(/SRE_ACTION:\\s*(.+)/);\nconst sreAction = actionMatch ? actionMatch[1].trim() : null;\nconst analysis = agentOutput.replace(/SRE_ACTION:.+/, '').trim();\n\n// Confidence badge\nconst confBadge = { HIGH: '\ud83d\udd34 HIGH', MEDIUM: '\ud83d\udfe1 MEDIUM', LOW: '\ud83d\udfe2 LOW' }[confidenceLabel] || confidenceLabel;\nconst sevEmoji = severity === 'critical' ? '\ud83d\udea8' : '\u26a0\ufe0f';\nconst statusLine = status === 'firing' ? '\ud83d\udd25 FIRING' : '\u2705 RESOLVED';\n\nlet msg = `${sevEmoji} <b>INCIDENT DETECTED</b>\\n`;\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\nmsg += `\ud83d\udccd <b>${pod || 'target-app'}</b> / <code>${namespace}</code>\\n`;\nmsg += `\ud83c\udff7 <b>${alertname}</b> \u2014 ${statusLine}\\n`;\nmsg += `\u23f1 Duration: <b>${durationStr}</b>\\n\\n`;\n\nmsg += `\ud83d\udcca <b>Signal Correlation</b>\\n`;\nmsg += `<code>${signalLines}</code>\\n`;\nmsg += `Confidence: <b>${confBadge}</b> (${activeCount}/${totalCount} signals active)\\n\\n`;\n\nmsg += `\ud83e\udde0 <b>AI Assessment</b>\\n`;\nmsg += `<i>${analysis}</i>\\n\\n`;\n\nif (sreAction) {\n  msg += `\u2705 <b>Recommended Action</b>\\n`;\n  msg += `<code>${sreAction}</code>\\n\\n`;\n  msg += `\ud83d\udcac Reply <code>/approve &lt;totp&gt;</code> to execute via S4\\n`;\n} else {\n  msg += `\u2139\ufe0f No write action required \u2014 monitoring only\\n`;\n}\n\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n`;\nmsg += `\ud83d\udd50 ${new Date().toISOString().replace('T', ' ').slice(0, 19)} UTC`;\n\nreturn [{ json: { message: msg, sreAction, confidenceLabel, alertname, namespace } }];"
      },
      "id": "format-message",
      "name": "Format Telegram Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "id": "telegram-send",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const { alertname, namespace, confidenceLabel } = $input.first().json;\nconst msg = `\u274c <b>S5 Error</b>\\nFailed processing: ${alertname} (${namespace})\\nConfidence was: ${confidenceLabel}`;\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-error",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-error",
      "name": "Telegram Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2000,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "2",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash"
      },
      "id": "gemini-model",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1560,
        560
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prom-url",
              "name": "promUrl",
              "value": "={{ $vars.PROMETHEUS_URL || 'http://localhost:9090' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-prom-url",
      "name": "Set Prom URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ]
    }
  ],
  "connections": {
    "Alertmanager Webhook": {
      "main": [
        [
          {
            "node": "Dedup Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Filter": {
      "main": [
        [
          {
            "node": "Set Prom URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Brief + Signal Plan": {
      "main": [
        [
          {
            "node": "PromQL Enrichment + Confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PromQL Enrichment + Confidence": {
      "main": [
        [
          {
            "node": "Worth Escalating?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worth Escalating?": {
      "main": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Only (Low Confidence)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Gemini)": {
      "main": [
        [
          {
            "node": "Format Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "kubectl_read": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "promql": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Format Telegram Message": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error": {
      "main": [
        [
          {
            "node": "Telegram Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Prom URL": {
      "main": [
        [
          {
            "node": "Extract Brief + Signal Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  }
}