n8n-workflows/s6-k8s-event-intelligence.json
{
  "name": "S6 - K8s Event Intelligence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "k8s-event-s6",
        "responseMode": "onReceived",
        "options": {},
        "responseData": "firstEntryJson"
      },
      "id": "webhook-s6",
      "name": "K8s Event Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "k8s-event-s6"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst ev = body.event || body;\n\n// Only process error/warn\nif (!['error','warn'].includes(ev.severity)) {\n  return [{ json: { skip: true, reason: 'info event \u2014 ignored', ev } }];\n}\n\n// Deduplicate: same reason+name within 5min\nconst store = $getWorkflowStaticData('global');\nif (!store.dedup) store.dedup = {};\nconst key = `${ev.reason}:${ev.name}:${ev.namespace}`;\nconst now = Date.now();\nif (store.dedup[key] && (now - store.dedup[key]) < 300000) {\n  return [{ json: { skip: true, reason: 'deduplicated', key, ev } }];\n}\nstore.dedup[key] = now;\n\n// Cleanup old dedup keys\nObject.keys(store.dedup).forEach(k => {\n  if (now - store.dedup[k] > 600000) delete store.dedup[k];\n});\n\nreturn [{ json: {\n  skip: false,\n  severity: ev.severity,\n  namespace: ev.namespace || 'workshop',\n  kind: ev.kind || 'Pod',\n  name: ev.name || '',\n  reason: ev.reason || '',\n  message: ev.message || '',\n  deploy: ev.deploy || ev.name?.split('-').slice(0,-2).join('-') || ev.name,\n  node: ev.node || '',\n  ts: ev.ts || new Date().toISOString()\n}}];"
      },
      "id": "filter-dedup",
      "name": "Filter + Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.skip }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "worth-processing",
      "name": "Worth Processing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=K8s event detected:\n- Reason: {{ $json.reason }}\n- Object: {{ $json.kind }}/{{ $json.name }}\n- Namespace: {{ $json.namespace }}\n- Deployment: {{ $json.deploy }}\n- Node: {{ $json.node }}\n- Message: {{ $json.message }}\n- Severity: {{ $json.severity }}\n- Time: {{ $json.ts }}\n\nInvestigate this event and provide a concise SRE assessment.",
        "options": {
          "systemMessage": "You are a Kubernetes SRE assistant analyzing real-time K8s API events (NOT Prometheus alerts \u2014 these are instant, before any metrics).\n\nYou have these tools:\n1. kubectl_read \u2014 investigate the affected pod/deployment\n2. promql \u2014 check current metrics if relevant\n\n## Investigation protocol:\n1. Check the affected object: kubectl get/describe the pod or deployment\n2. Check recent events: kubectl get events -n <namespace> --sort-by=.lastTimestamp | tail -10\n3. If memory-related: check promql for memory metrics\n4. If crash/restart: check logs\n\n## Output format (keep under 200 words):\n\ud83d\udd34/\ud83d\udfe1 **<reason>** on `<deploy>/<pod-suffix>`\n\n**What happened:** one sentence\n\n**Investigation:**\n[CONFIRMED/ELIMINATED] key findings\n\n**Assessment:** root cause in one sentence\n\n**Recommended action:** kubectl <command> (or 'monitor \u2014 no action needed')\n\nIf action needed, end with:\nSRE_ACTION: kubectl <exact command>"
        }
      },
      "id": "ai-agent-s6",
      "name": "K8s Event Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        900,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "gemini-s6",
      "name": "Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        700,
        600
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "GQ1hkgYO7ltcNZw8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Run read-only kubectl commands. Examples: get pods -n workshop, describe pod <name> -n <ns>, get events -n workshop --sort-by=.lastTimestamp, logs <pod> -n <ns> --tail=20",
        "method": "POST",
        "url": "http://mcp-server.clawops.svc.cluster.local:8000/tools/kubectl-read",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"command\": \"{command}\"}"
      },
      "id": "kubectl-read-s6",
      "name": "kubectl_read",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        800,
        600
      ]
    },
    {
      "parameters": {
        "toolDescription": "Run PromQL queries for live metrics. Examples: container_memory_working_set_bytes{pod='<pod>'}, rate(container_cpu_usage_seconds_total[5m])",
        "method": "POST",
        "url": "http://mcp-server.clawops.svc.cluster.local:8000/tools/promql",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": \"{query}\"}"
      },
      "id": "promql-s6",
      "name": "promql",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1000,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const agentOut = $input.first().json.output || $input.first().json.error || 'Agent returned no output';\nconst ev = $('Filter + Dedup').first().json;\n\n// Extract SRE_ACTION if present\nconst actionMatch = agentOut.match(/SRE_ACTION:\\s*(.+)/);\nconst hasAction = !!actionMatch;\nconst action = actionMatch ? actionMatch[1].trim() : null;\n\n// Severity icon\nconst icon = ev.severity === 'error' ? '\ud83d\udd34' : '\ud83d\udfe1';\n\n// Build dashboard message\nconst msg = `${icon} **K8s Event** \u2014 \\`${ev.reason}\\` on \\`${ev.deploy}\\`\\n\\n${agentOut}${hasAction ? '\\n\\n\ud83d\udd10 Awaiting approval \u2014 store and approve via TOTP' : ''}`;\n\nreturn [{ json: {\n  message: msg,\n  hasAction,\n  action,\n  severity: ev.severity,\n  deploy: ev.deploy,\n  namespace: ev.namespace,\n  reason: ev.reason,\n  agentOutput: agentOut\n}}];"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasAction }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "needs-action",
      "name": "Needs Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server.clawops.svc.cluster.local:8000/incidents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ alertname: 'K8s Event: ' + $json.reason, namespace: $json.namespace, pod: $('Filter + Dedup').first().json.name, command: $json.action }) }}"
      },
      "id": "store-incident-s6",
      "name": "Store Incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://clawops-dashboard.clawops.svc.cluster.local:80/api/chat/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ role: 'agent', content: $('Format Message').first().json.message + '\\n\\n\ud83d\udd10 To approve: /approve <totp> ' + $json.key }) }}"
      },
      "id": "send-chat-action",
      "name": "Send Chat (with action)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://clawops-dashboard.clawops.svc.cluster.local:80/api/chat/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ role: 'agent', content: $('Format Message').first().json.message }) }}"
      },
      "id": "send-chat-info",
      "name": "Send Chat (info only)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        500
      ]
    }
  ],
  "connections": {
    "K8s Event Webhook": {
      "main": [
        [
          {
            "node": "Filter + Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter + Dedup": {
      "main": [
        [
          {
            "node": "Worth Processing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worth Processing?": {
      "main": [
        [
          {
            "node": "K8s Event Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "K8s Event Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "kubectl_read": {
      "ai_tool": [
        [
          {
            "node": "K8s Event Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "promql": {
      "ai_tool": [
        [
          {
            "node": "K8s Event Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "K8s Event Agent": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Needs Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Action?": {
      "main": [
        [
          {
            "node": "Store Incident",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Chat (info only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Incident": {
      "main": [
        [
          {
            "node": "Send Chat (with action)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chat (with action)": {
      "main": [
        []
      ]
    },
    "Send Chat (info only)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": []
}