n8n-workflows/s8-k8s-event-jwt.json
{
  "name": "S8 - K8s Event Intelligence (JWT Secured)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "k8s-event-s8",
        "responseMode": "onReceived",
        "options": {},
        "responseData": "firstEntryJson"
      },
      "id": "webhook-s6",
      "name": "Webhook (JWT Secured)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        400
      ],
      "webhookId": "k8s-event-s6"
    },
    {
      "id": "c31f575d-db3d-4e21-b073-7b5d67e04553",
      "name": "Validate JWT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        400
      ],
      "parameters": {
        "jsCode": "// JWT Validation \u2014 pure JS, no Node built-ins\n// n8n sandbox blocks 'crypto' but allows manual bit operations\n\nconst SECRET = 'clawops-workshop-secret-change-in-prod';\n\nconst headers = $input.first().json.headers || {};\nconst authHeader = headers['authorization'] || headers['Authorization'] || '';\nconst token = authHeader.startsWith('Bearer ') ? authHeader.slice(7) : '';\n\nif (!token) throw new Error('No JWT token \u2014 request rejected');\n\nconst parts = token.split('.');\nif (parts.length !== 3) throw new Error('Invalid JWT format');\n\nconst [headerB64, payloadB64, sigB64] = parts;\n\n// \u2500\u2500 Pure-JS HMAC-SHA256 \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction strToBytes(s) {\n  const b = [];\n  for (let i = 0; i < s.length; i++) b.push(s.charCodeAt(i) & 0xff);\n  return b;\n}\n\nfunction sha256(data) {\n  // SHA-256 constants\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2\n  ];\n  let h = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const msg = data.slice();\n  const bitLen = msg.length * 8;\n  msg.push(0x80);\n  while ((msg.length % 64) !== 56) msg.push(0);\n  for (let i = 7; i >= 0; i--) msg.push((bitLen / Math.pow(2, i*8)) & 0xff);\n  for (let chunk = 0; chunk < msg.length; chunk += 64) {\n    const w = [];\n    for (let i = 0; i < 16; i++)\n      w[i] = (msg[chunk+i*4]<<24)|(msg[chunk+i*4+1]<<16)|(msg[chunk+i*4+2]<<8)|msg[chunk+i*4+3];\n    for (let i = 16; i < 64; i++) {\n      const s0 = ((w[i-15]>>>7)|(w[i-15]<<25))^((w[i-15]>>>18)|(w[i-15]<<14))^(w[i-15]>>>3);\n      const s1 = ((w[i-2]>>>17)|(w[i-2]<<15))^((w[i-2]>>>19)|(w[i-2]<<13))^(w[i-2]>>>10);\n      w[i] = (w[i-16]+s0+w[i-7]+s1) >>> 0;\n    }\n    let [a,b,c,d,e,f,g,hh] = h;\n    for (let i = 0; i < 64; i++) {\n      const S1 = ((e>>>6)|(e<<26))^((e>>>11)|(e<<21))^((e>>>25)|(e<<7));\n      const ch = (e&f)^(~e&g);\n      const t1 = (hh+S1+ch+K[i]+w[i])>>>0;\n      const S0 = ((a>>>2)|(a<<30))^((a>>>13)|(a<<19))^((a>>>22)|(a<<10));\n      const maj = (a&b)^(a&c)^(b&c);\n      const t2 = (S0+maj)>>>0;\n      hh=g; g=f; f=e; e=(d+t1)>>>0; d=c; c=b; b=a; a=(t1+t2)>>>0;\n    }\n    h = h.map((v,i)=>(v+[a,b,c,d,e,f,g,hh][i])>>>0);\n  }\n  return h.reduce((acc,v)=>acc+v.toString(16).padStart(8,'0'),'');\n}\n\nfunction hmacSha256(key, msg) {\n  let keyBytes = strToBytes(key);\n  if (keyBytes.length > 64) keyBytes = hexToBytes(sha256(keyBytes));\n  while (keyBytes.length < 64) keyBytes.push(0);\n  const iPad = keyBytes.map(b => b ^ 0x36);\n  const oPad = keyBytes.map(b => b ^ 0x5c);\n  const inner = sha256([...iPad, ...strToBytes(msg)]);\n  return sha256([...oPad, ...hexToBytes(inner)]);\n}\n\nfunction hexToBytes(h) {\n  const b = [];\n  for (let i = 0; i < h.length; i+=2) b.push(parseInt(h.slice(i,i+2),16));\n  return b;\n}\n\nfunction b64urlEncode(bytes) {\n  let b = '';\n  bytes.forEach(v => b += String.fromCharCode(v));\n  return btoa(b).replace(/\\+/g,'-').replace(/\\//g,'_').replace(/=/g,'');\n}\n\n// Verify signature\nconst sig = b64urlEncode(hexToBytes(hmacSha256(SECRET, `${headerB64}.${payloadB64}`)));\nif (sig !== sigB64) throw new Error('Invalid JWT signature \u2014 request rejected');\n\n// Check expiry\nconst payload = JSON.parse(atob(payloadB64.replace(/-/g,'+').replace(/_/g,'/')));\nconst now = Math.floor(Date.now() / 1000);\nif (!payload.exp || payload.exp < now) {\n  throw new Error(`JWT expired ${now - payload.exp}s ago \u2014 replay attack prevented`);\n}\n\n// Pass through with claims attached\nconst body = $input.first().json.body || $input.first().json;\nreturn [{ json: { ...body, _jwt_verified: true, _jwt_claims: payload } }];"
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst ev = body.event || body;\n\n// Skip info events\nif (!['error','warn'].includes(ev.severity)) {\n  return [];  // empty = stop flow\n}\n\n// Validate we have real event data\nif (!ev.deploy && !ev.name && !ev.reason) {\n  return [];  // malformed event \u2014 stop\n}\n\n// Deduplicate by deploy (not pod name \u2014 pod names change on restart)\nconst store = $getWorkflowStaticData('global');\nif (!store.dedup) store.dedup = {};\nconst key = `${ev.reason}:${ev.deploy || ev.name}:${ev.namespace}`;\nconst now = Date.now();\nif (store.dedup[key] && (now - store.dedup[key]) < 300000) {\n  return [];  // deduplicated \u2014 stop flow silently\n}\nstore.dedup[key] = now;\n\n// Cleanup\nObject.keys(store.dedup).forEach(k => {\n  if (now - store.dedup[k] > 600000) delete store.dedup[k];\n});\n\nreturn [{ json: {\n  skip: false,\n  severity: ev.severity,\n  namespace: ev.namespace || 'workshop',\n  kind: ev.kind || 'Pod',\n  name: ev.name || '',\n  reason: ev.reason || '',\n  message: ev.message || '',\n  deploy: ev.deploy || (ev.name || '').split('-').slice(0,-2).join('-') || ev.name || '',\n  node: ev.node || '',\n  ts: ev.ts || new Date().toISOString(),\n  count: ev.count || 1,\n  reasons: ev.reasons || [ev.reason]\n}}];"
      },
      "id": "filter-dedup",
      "name": "Filter + Dedup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=K8s event detected:\n- Reason: {{ $json.reason }}\n- Object: {{ $json.kind }}/{{ $json.name }}\n- Namespace: {{ $json.namespace }}\n- Deployment: {{ $json.deploy }}\n- Node: {{ $json.node }}\n- Message: {{ $json.message }}\n- Severity: {{ $json.severity }}\n- Time: {{ $json.ts }}\n\nInvestigate this event and provide a concise SRE assessment.",
        "options": {
          "systemMessage": "You are a Kubernetes SRE assistant analyzing real-time K8s API events (detected in <1s, before Prometheus even sees them).\n\nYou have these tools:\n1. kubectl_read \u2014 investigate pods, deployments, events, and LOGS\n2. promql \u2014 check current metrics\n\n## Investigation protocol (ALWAYS follow this order):\n1. Get pod status: `kubectl get pods -n <namespace> -l app=<deploy> -o wide`\n2. **Pull recent logs** (REQUIRED when there are errors): `kubectl logs deployment/<deploy> -n <namespace> --tail=50 2>&1`\n3. If sidecar present, pull sidecar logs: `kubectl logs deployment/<deploy> -n <namespace> -c chaos-loader --tail=20 2>&1`  \n4. Check recent events: `kubectl get events -n <namespace> --sort-by=.lastTimestamp --field-selector involvedObject.name=<podname> 2>&1 | tail -15`\n5. If memory/CPU: check promql metrics\n\n## Log analysis:\n- Look for ERROR, WARNING, CRITICAL, exception, traceback in logs\n- If chaos-loader logs show \"error-loop triggered\" \u2192 this is a controlled chaos test\n- If chaos-loader logs show \"OOMKill\" or \"memory leak\" \u2192 resource exhaustion chaos\n- Identify: is this a real outage or a chaos engineering test?\n\n## Output format (under 200 words):\n\ud83d\udd34/\ud83d\udfe1 **<reason>** on `<deploy>`\n\n**What happened:** one sentence\n\n**Log evidence:** key error lines found (or \"no errors in logs\")\n\n**Assessment:** real outage OR chaos test \u2014 explain which and why\n\n**Recommended action:** \n- If chaos test: stop via chaos-loader sidecar:\n  `kubectl exec <pod> -n workshop -c chaos-loader -- curl -X DELETE http://localhost:8003/chaos/all`\n  OR tell user to click STOP ALL on the dashboard\n- If real issue: `kubectl <command>`\n\nIf action needed, end with:\nSRE_ACTION: kubectl <exact command>\n\nNote: kubectl exec IS a supported write command \u2014 use it to stop chaos via the sidecar."
        }
      },
      "id": "ai-agent-s6",
      "name": "K8s Event Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1560,
        520
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "gemini-s6",
      "name": "Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        920,
        600
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "GQ1hkgYO7ltcNZw8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Run read-only kubectl commands. Examples: get pods -n workshop, describe pod <name> -n <ns>, get events -n workshop --sort-by=.lastTimestamp, logs <pod> -n <ns> --tail=20",
        "method": "POST",
        "url": "http://mcp-server.clawops.svc.cluster.local:8000/tools/kubectl-read",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"command\": \"{command}\"}"
      },
      "id": "kubectl-read-s6",
      "name": "kubectl_read",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1020,
        600
      ]
    },
    {
      "parameters": {
        "toolDescription": "Run PromQL queries for live metrics. Examples: container_memory_working_set_bytes{pod='<pod>'}, rate(container_cpu_usage_seconds_total[5m])",
        "method": "POST",
        "url": "http://mcp-server.clawops.svc.cluster.local:8000/tools/promql",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": \"{query}\"}"
      },
      "id": "promql-s6",
      "name": "promql",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1220,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const agentOut = $input.first().json.output || $input.first().json.error || 'Agent returned no output';\nconst ev = $('Filter + Dedup').first().json;\n\n// Extract SRE_ACTION if present\nconst actionMatch = agentOut.match(/SRE_ACTION:\\s*(.+)/);\nconst hasAction = !!actionMatch;\nconst action = actionMatch ? actionMatch[1].trim() : null;\n\n// Severity icon\nconst icon = ev.severity === 'error' ? '\ud83d\udd34' : '\ud83d\udfe1';\n\n// Build dashboard message\nconst msg = `${icon} **K8s Event** \u2014 \\`${ev.reason}\\` on \\`${ev.deploy}\\`\\n\\n${agentOut}${hasAction ? '\\n\\n\ud83d\udd10 Awaiting approval \u2014 store and approve via TOTP' : ''}`;\n\nreturn [{ json: {\n  message: msg,\n  hasAction,\n  action,\n  severity: ev.severity,\n  deploy: ev.deploy,\n  namespace: ev.namespace,\n  reason: ev.reason,\n  agentOutput: agentOut\n}}];"
      },
      "id": "format-message",
      "name": "Format Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        520
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hasAction }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "needs-action",
      "name": "Needs Action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2000,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://mcp-server.clawops.svc.cluster.local:8000/incidents",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ alertname: 'K8s Event: ' + $json.reason, namespace: $json.namespace, pod: $('Filter + Dedup').first().json.name, command: $json.action }) }}"
      },
      "id": "store-incident-s6",
      "name": "Store Incident",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://clawops-dashboard.clawops.svc.cluster.local:80/api/chat/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ role: 'agent', content: $('Format Message').first().json.message + '\\n\\n\ud83d\udd10 To approve: /approve <totp> ' + $json.key }) }}"
      },
      "id": "send-chat-action",
      "name": "Send Chat (with action)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://clawops-dashboard.clawops.svc.cluster.local:80/api/chat/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ role: 'agent', content: $('Format Message').first().json.message }) }}"
      },
      "id": "send-chat-info",
      "name": "Send Chat (info only)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        640
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://mcp-server.clawops.svc.cluster.local:8000/incidents?limit=20",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "check-existing",
      "name": "Check Existing Incidents",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const ev = $('Filter + Dedup').first().json;\nconst incidents = $input.first().json;\n\n// Find open incident for same deploy \u2014 from ANY workflow (S5 or S6)\nconst list = Array.isArray(incidents) ? incidents : (incidents.incidents || []);\nconst twoHoursAgo = Date.now() - 7200000;\n\nconst open = list.find(function(i) {\n  if (i.status !== 'pending') return false;\n  if (!i.created_at || new Date(i.created_at).getTime() < twoHoursAgo) return false;\n  // Match by deploy name in alertname or pod field\n  var deploy = ev.deploy || '';\n  var alertDeploy = (i.alertname || '').toLowerCase();\n  var podDeploy = (i.pod || '').toLowerCase();\n  var deployLower = deploy.toLowerCase();\n  return alertDeploy.includes(deployLower) || podDeploy.includes(deployLower) || deployLower.includes(alertDeploy.replace('k8s event: ','').split(':')[0]);\n});\n\nif (open) {\n  return [{ json: {\n    alreadyOpen: true,\n    existingKey: open.key,\n    existingSince: open.created_at,\n    existingAlertname: open.alertname,\n    deploy: ev.deploy,\n    reason: ev.reason,\n    namespace: ev.namespace,\n    severity: ev.severity,\n    count: ev.count || 1,\n    reasons: ev.reasons || [ev.reason]\n  }}];\n}\n\nreturn [{ json: {\n  alreadyOpen: false,\n  deploy: ev.deploy,\n  reason: ev.reason,\n  namespace: ev.namespace,\n  severity: ev.severity,\n  name: ev.name,\n  message: ev.message,\n  node: ev.node,\n  kind: ev.kind,\n  ts: ev.ts,\n  count: ev.count || 1,\n  reasons: ev.reasons || [ev.reason]\n}}];"
      },
      "id": "already-open-check",
      "name": "Already Open?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.alreadyOpen }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route-open",
      "name": "Route on Open?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://clawops-dashboard.clawops.svc.cluster.local:80/api/chat/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ role: 'agent', content: ($json.severity === 'error' ? '\ud83d\udd34' : '\ud83d\udfe1') + ' **Still ongoing** \u2014 `' + ($json.reasons || [$json.reason]).join(', ') + '` on `' + $json.deploy + '` (' + ($json.count || 1) + ' new events)\\n\\n\u2197 Related to incident **#' + $json.existingKey + '** (' + $json.existingAlertname + ')\\n\\nPod continues to fail. Use `/approve <totp> ' + $json.existingKey + '` to act.' }) }}"
      },
      "id": "send-ongoing",
      "name": "Send Ongoing Notice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        280
      ]
    },
    {
      "id": "1dc43c4b-b756-4ac9-ba19-fe8f9e580f74",
      "name": "Send JWT Debug",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        680,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "http://clawops-dashboard.clawops.svc.cluster.local:80/api/chat/send",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ role: 'agent', content: '\ud83d\udd10 **JWT Validated** \u2014 request authenticated\\n\\n' + '**Deploy:** `' + $json.deploy + '`  |  **Namespace:** `' + $json.namespace + '`\\n' + '**Reason:** `' + $json.reason + '`\\n' + '**Token issued:** ' + new Date($json._jwt_claims.iat * 1000).toISOString().substring(11,19) + ' UTC  |  **Expires:** ' + new Date($json._jwt_claims.exp * 1000).toISOString().substring(11,19) + ' UTC  *(30s window)*\\n\\n' + '\u23e9 Forwarding to AI investigation...' }) }}"
      }
    }
  ],
  "connections": {
    "K8s Event Webhook": {
      "main": [
        [
          {
            "node": "Filter + Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter + Dedup": {
      "main": [
        [
          {
            "node": "Check Existing Incidents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Worth Processing?": {
      "main": [
        [
          {
            "node": "K8s Event Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "K8s Event Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "kubectl_read": {
      "ai_tool": [
        [
          {
            "node": "K8s Event Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "promql": {
      "ai_tool": [
        [
          {
            "node": "K8s Event Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "K8s Event Agent": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Needs Action?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Action?": {
      "main": [
        [
          {
            "node": "Store Incident",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Chat (info only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Incident": {
      "main": [
        [
          {
            "node": "Send Chat (with action)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chat (with action)": {
      "main": [
        []
      ]
    },
    "Send Chat (info only)": {
      "main": [
        []
      ]
    },
    "Check Existing Incidents": {
      "main": [
        [
          {
            "node": "Already Open?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Open?": {
      "main": [
        [
          {
            "node": "Route on Open?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route on Open?": {
      "main": [
        [
          {
            "node": "Send Ongoing Notice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "K8s Event Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (JWT Secured)": {
      "main": [
        [
          {
            "node": "Validate JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate JWT": {
      "main": [
        [
          {
            "node": "Send JWT Debug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send JWT Debug": {
      "main": [
        [
          {
            "node": "Filter + Dedup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [],
  "id": "a84ce9d0-6c2d-4588-9e10-63436c9ba7bd"
}